# 16. Tuple

In [24]:
# A tupla e uma variavel composta
# Para usara uma tupla e necessario abrir abrir e fechar parenteses e separar os itens por virgula 
# Exe.:
nomes = ('Huan','Lucas','luigi')
print(type(nomes))

<class 'tuple'>

In [25]:
# Os indices de uma tupla sao indexados, o primeiro item tem o indice 0 e o segundo indice tem indice 2 e assim por diante.
# Exe.:
nomes = ('Huan','Lucas','luigi')
print(nomes[0]) 
print(nomes[1])

Huan
Lucas

In [31]:
# As tuplas sao imultaveis, nao e possivel adcionar e nem remover os itens dela
# So e possivel ordernar-la em ordem alfabetica ou crescente usando o metodo .sorted()
# Exe.:
nomes = ('Huan','Lucas','Luigi','Ana')
sorted(nomes)

# Uma tupla pode ter itens duplicados, pois cada item tem o seu identificador que e o seu indice.

['Ana', 'Huan', 'Lucas', 'Luigi']

In [32]:
# Para saber o comprimento de uma tupla, basta usar a funcao len()
# Exe.:
nomes = ('Huan','Lucas','luigi')
len(nomes)

3

In [34]:
# E possivel criar uma tupla com um item apenas.
# Ex.:
letras = ('a',) #tupla com apenas 1 item.
print(type(letras))

<class 'tuple'>

In [ ]:
# Uma tupla pode conter varios tipos de dados.
# Ex.:
tipos = ('Huan',2,False,True,2.5) #STR, INT, FLOAT E BOOLEANA

In [ ]:
# Para transformar uma variavel simples ou composta em uma tupla, basta usar a funcao tuple()
# Ex.:
dia = 'terca'
tuple(dia)

In [36]:
# Verifique se o item existe
# Ex.:
nomes = ('Huan','Lucas','luigi')
print('Huan' in nomes) 
print('Paulo' in nomes)

True
False

In [ ]:
# Usando o comando del e possivel excluir a tupla
# Ex.:
nomes = ('Huan','Lucas','luigi')
del nomes # apaga a tupla

In [37]:
# Descompactando uma tupla
# Ex.:
frutas = ('pera','banana','uva')
(f1,f2,f3) = frutas # para cada item da tupla original eu coloquei uma variavel para receber esse item

print(f1) 
print(f2) 
print(f3)

pera
banana
uva

In [38]:
# Descompactando tupla usando o *
# Ex.:
frutas = ('pera','banana','uva','butia')
(f1,*f2,f3) = frutas  # o f1 vai receber o item [0], o f3 vai receber o item [3] e o f2 vai receber os itens [1] e [2]

print(f1) 
print(f2) 
print(f3)

pera
['banana', 'uva']
butia

In [40]:
# E possivel percorrer uma tupla usando loops, o melhor e o for
# Ex.:
nomes = ('Huan','Lucas','luigi')

for nome in nomes:
    print(nome) # Esse comando vai fazer o pc percorrer item por item da tupla nomes e printar cada item

Huan
Lucas
luigi

In [41]:
# Operadores e tuplas
# Ex.:
t1 = ('a','b','c')
t2 = ('d','e','f')

soma = t1+t2 
multiplicao = 2*t1 

print(soma)
print(multiplicao)

('a', 'b', 'c', 'd', 'e', 'f')
('a', 'b', 'c', 'a', 'b', 'c')

In [43]:
# Alguns metodos
# Ex.:
a = ('a','b','c','a','b','c')

pos1 = a.count('a') # Me diz quantas vezes o item dentro do parametro aparece na tupla
pos2 = a.index('a') # Me diz a posicao da primeira ocorrencia do item dentro do parametro
pos3 = a.index('a',1,6) # Me retorna a primeira ocorrencia do item especificado dentro do intervalo especificado

print(pos1)
print(pos2)
print(pos3)

2
0
3