In [1]:
# Importando a biblioteca pandas
import pandas as pd 

# Importando o dataset
df = pd.read_csv('base-de-dados/dados.csv')

# üí† Distribui√ß√£o de frequ√™ncias

Em uma pesquisa, por mais simples que ela seja, quando coletamos os dados, √© fundamental que eles sejam organizados e analisados. A maneira mais comum de analiz√°-los √© entendo como esses dados est√£o distribuidos.

## ‚ú¥Ô∏è Frequ√™ncia absoluta

A frequ√™ncia absoluta nada mais √© que a quantidade de vezes que um mesmo elemento aparece num conjunto de dados. E a frequ√™ncia absoluta acumulada nada mais √© que a soma de frequ√™ncias absolutas.<br>

Vamos pegar o nosso dataset e an√°lisar as frequ√™ncias absoluta da coluna **Anos de Estudo**.

In [39]:
freq_abs = df['Anos de Estudo'].value_counts().sort_index()
freq_abs

# Podemos notar que 5849 pessoas possuem apenas 1 ano de estudo

1      5849
2      1388
3      2101
4      2891
5      6729
6      4499
7      2445
8      2689
9      7980
10     1840
11     2118
12    20848
13     1836
14     1253
15     1388
16    10795
17      191
Name: Anos de Estudo, dtype: int64

Para ficar mais intuitivo o intendimento das frequ√™ncias dos dados vamos criar uma dataframe e mostrar essas informa√ß√µes.

In [51]:
freq = pd.DataFrame({"freq_absoluta":freq_abs})
freq.rename_axis("anos de estudo", axis=1)

anos de estudo  freq_absoluta
1                        5849
2                        1388
3                        2101
4                        2891
5                        6729
6                        4499
7                        2445
8                        2689
9                        7980
10                       1840
11                       2118
12                      20848
13                       1836
14                       1253
15                       1388
16                      10795
17                        191

## ‚ú¥Ô∏è Frequ√™ncia Relativa

A frequ√™ncia relativa nada mais √© que a frequ√™ncia absoluta de um determinado dado divido pela quantidade de dados coletado. √â muito comum representar esses dados em forma de porcentagem e para isso basta multiplicar o resultado da opera√ß√£o por 100. A frequ√™ncia relativa acumulada √© a soma de frequ√™ncias relativas.<br>

Vamos pegar o dataframe sobre a frequ√™ncia absoluta que criamos no t√≥pico passado e acrescentar a ele uma nova coluna que informa a frequ√™ncia relativa.

In [57]:
freq['freq_relativa'] = (df['Anos de Estudo'].value_counts(normalize=True)*100).round(2)
freq

    freq_absoluta  freq_relativa
1            5849           7.61
2            1388           1.81
3            2101           2.73
4            2891           3.76
5            6729           8.76
6            4499           5.86
7            2445           3.18
8            2689           3.50
9            7980          10.39
10           1840           2.39
11           2118           2.76
12          20848          27.13
13           1836           2.39
14           1253           1.63
15           1388           1.81
16          10795          14.05
17            191           0.25

## ‚ú¥Ô∏è Histograma

Um histograma conciste em um gr√°fico com barras cujo o objetivo √© ilustrar como um determinado conjunto de dados est√° distribuido, onde o eixo horizontal √© dividido em pequenos intervalos, demonstrando valores assumidos pela vari√°vel de interesse. J√° o eixo vertical √© proporcional √† frequ√™ncia de observa√ß√µes da amostra onde os valores pertencem a tal intervalo.<br>

Um histograma torna f√°cil ver onde a maioria dos valores se classificam em uma escala de medi√ß√£o e quanta varia√ß√£o existe entre eles. Veja um exemplo:<br><br>

<img src='https://leansixsigmabrasil.com.br/site/wp-content/uploads/2020/01/Exemplo-de-histograma-de-temperatura.jpg' width = '700' style=float:left>

# üí† Medidas de tend√™ncia central

As medidas de tendencia central servem para descrever um certo conjunto de dados, para encontrar uma tend√™ncia central como o titulo ja diz, por isso fazem parte da estat√≠stica descritiva.

## ‚ú¥Ô∏è M√©dia

A m√©dia √© calculada somando-se todos os valores de um conjunto de dados e dividindo-se pelo n√∫mero de elementos deste conjunto. Como a m√©dia √© uma medida sens√≠vel aos valores da amostra, √© mais adequada para situa√ß√µes em que os dados s√£o distribu√≠dos mais ou menos de forma uniforme, ou seja, valores sem grandes discrep√¢ncias.

Vamos calcular a m√©dia da coluna **Renda** do nosso dataset.

In [62]:
media = df["Renda"].mean()
media

2000.3831988547631

## ‚ú¥Ô∏è Moda


A Moda representa o valor mais frequente de um conjunto de dados, sendo assim, para defini-la basta observar a frequ√™ncia com que os valores aparecem. √â possivel que um conjunto de dados tenha mais de um valor que s√£o repetidos e que possuam a mesma fr√™quencia.

Para calcular a moda vamos utilizar a coluna **Idade**.

In [65]:
moda = df['Idade'].mode()
moda

0    40
Name: Idade, dtype: int64

A idade que mais se repete nos nosso dados √© 40 anos.

## ‚ú¥Ô∏è Mediana

A Mediana representa o valor central de um conjunto de dados, ou seja, aproximadamente 50% por cento dos dados est√£o abaixo dela e aproximadamente 50% est√£o acima dela. Para encontrar o valor da mediana √© necess√°rio colocar os valores em ordem crescente.

Quando o n√∫mero de elementos de um conjunto √© par, a mediana √© encontrada pela m√©dia dos dois valores centrais. Assim, esses valores s√£o somados e divididos por dois. J√° quando o n√∫mero de elementos for √≠mpar a mediana ser√° o valor central.

Vamos calcular a mediana da coluna do **Altura**.

In [67]:
mediana = df["Altura"].median()
mediana

1.6993247325