In [50]:
import pandas as pd

# üéØ  Series

##  üëæ <font size=5>Defini√ß√£o<font>

<br>
Series √© uma matriz rotulada unidimensional que pode receber diversos tipos dados como entrada, por exemplo, str, bool, int, float, uma lista, um 1D np.ndarray, alguns objetos python e etc. <br><br>

J√° os dados que podem ser armazenados nas colunas de uma Series s√£o: str, int, float, bool, dados categ√≥ricos e mais ...<br><br>

obs: Dentro de uma Series pode haver uma salada de dados, no entanto vale ressalatar que o pandas √© implementado usando o numpy, ent√£o se voc√™ colocar uma salada mista de dados dentro uma Series ela ir√° perder performace e muitas das suas vantangens.<br><br>

<img src='https://pythonru.com/wp-content/uploads/2020/05/struktura-obekta-series.png' style='float:left'>

 <br>

##  üëæ <font size=5>Parametros de cria√ß√£o<font>

<br>
Os parametros para a cria√ß√£o de uma Series est√£o logo abaixo junto com a explica√ß√£o de cada um. 

No entanto caso voc√™ queira beber da fonte o link est√° [aqui](https://pandas.pydata.org/docs/reference/api/pandas.Series.html?highlight=pandas%20series#pandas.Series).<br><br>

### <font color=purple>_pandas.Series (_<font>
<br>

**data** =  None<br> 
**index** =  None<br>
**dtype** =  None<br>
**name** =  None<br>
**copy** =  False<br>

### <font color=purple>_)_<font>
<br>


### <font color=purple>data : array-like, Iterable, dict, or scalar value<font>

O par√¢metro data recebe um objeto python que ser√° transformado em uma Series. Esse objeto pode ser uma iterable, um dicion√°rio, um int, uma str, etc.

Quando voc√™ for passar ao par√¢metro **data** alguma iterable, √© bom lembrar que o pandas utiliza o numpy por baixo do capor, por isso passar uma iterable com elementos que possuem tipos de dados diferentes far√° com que voc√™ tenha uma Series pouco perform√°tica. Voc√™ pode at√© criar uma Series que cont√©m uma salada mista de dados, mas o ideal √© utilizar apenas um tipo de dado.

Agora vamos criar uma Series a partir de uma lista e tamb√©m apartir de um valor do tipo int.

In [4]:
se1 = pd.Series(data=['A', 'B', 'C', 'D'])
print(f'--se1-- \n{se1}')

print('\n')

se2 = pd.Series(data=2)
print(f'--se2-- \n{se2}')

--se1--
0    A
1    B
2    C
3    D
dtype: object


--se2--
0    2
dtype: int64

 <br>

Criando uma Series que cont√©m uma salada mista de dados.

In [5]:
se = pd.Series(data=['Audax', 18, 1.81, 'M', True])
se

0    Audax
1       18
2     1.81
3        M
4     True
dtype: object

 <br>

Quando criamos uma Series a partir de um dicion√°rio, as chaves do dicion√°rio se tornar√£o os indices da Series e os valores da chaves se tornar√£o os elementos da Series. Mais adiante falaremos melhor sobre como funciona os indices de uma Series.

In [6]:
dicionario = {
    'Nome': 'Audax',
    'Idade': 18,
    'Sexo': 'Masculino'
}

se = pd.Series(data=dicionario)
se

Nome         Audax
Idade           18
Sexo     Masculino
dtype: object

 <br>


### <font color=purple>index : array-like or Index (1d) <font>

Antes de tudo precisamos entender como os indices de uma Series funciona. 

Uma Series tem 3 tipos de indices: 

**Indice negativo:** S√£o valores negativos usados para representar os √≠ndices de uma Series. Para entendermos como isso acontece, o √∫ltimo elemento fica na posi√ß√£o -1, o pen√∫ltimo fica na posi√ß√£o -2, o antepen√∫ltimo, na posi√ß√£o -3 e assim por diante. 


**Indice padr√£o:** Funciona como parecido como os indices de uma lista. O primeiro elemento tem indice 0, o segundo tem indice 1 e assim por diante. O que difere esse indice do indice de uma lista √© a maneira como cada um √© armazenado na mem√≥ria, mais para frente veremos esse assunto.


**Index label:** Quando voc√™ defini os indices da uma Series ou DataFrame voc√™ est√° trabalhando com o index label (no portugu√™s r√≥tulo de indice). √â possivel alter√°-los sempre que necess√°rio.

---

Nesse primeiro momento n√£o iremos ver como selecionar elementos ou fatias de uma Series. Apena iresmo aprender como definir os indices de uma Series.

---

O par√¢metro **index** serve para definir os index labels de uma Series. Voc√™ passa uma lista com o mesmo tamanho que o objeto passado ao par√¢metro **data**, composta por qualquer tipo de dado, desde que esses dados sejam [hashable](https://stackoverflow.com/questions/14535730/what-does-hashable-mean-in-python). Quando n√£o definimos o index label, a Series adota por padr√£o o RangeIndex (0, 1, 2, ‚Ä¶, n).

In [7]:
# Criando uma Series sem o index label

se = pd.Series(data=['Audax', 'Netuno', 'Ciclope'])
se

0      Audax
1     Netuno
2    Ciclope
dtype: object

In [8]:
# Criando uma Series e definindo o index label
se = pd.Series(data=['Audax', 'Netuno', 'Ciclope'],
               index=['nome1', 'nome2', 'nome3'])
se

nome1      Audax
nome2     Netuno
nome3    Ciclope
dtype: object

In [9]:
# Definindo um index label muito louco
se = pd.Series(data=['Audax', 'Netuno', 'Ciclope', 'Spike'],
               index=['nome1', 2.5, 2, True])
se

nome1      Audax
2.5       Netuno
2        Ciclope
True       Spike
dtype: object

 <br>

√â importante lembrar que √© possivel usar o indice negativo e o indice padr√£o ap√≥s o index label ser definido, menos quando o index label for definido por valores do tipo int ou float. Nesse caso o index label meio que sobrescrevece os outros tipos de indices.

In [10]:
# Definindo um index label com valores numericos, mas que n√£o remete ao RangeIndex(0, 1, 2, ..., n)
se = pd.Series(data=['Audax', 'Netuno', 'Ciclope',
               'Spike'], index=[-2, 13.3, 10, 0])
se

-2.0       Audax
 13.3     Netuno
 10.0    Ciclope
 0.0       Spike
dtype: object

 <br>

Parece meio estranho, mas podemos ter valores de √≠ndices iguais, quando buscamos pelo indice, ele tr√°z todos os elementos 'apontados' por aquele indice (todas as linhas que tem refer√™ncia daquele √≠ndice).

In [11]:
# Definindo um index label com valores de indices repetidos
se = pd.Series(data=['Audax', 'Netuno', 'Ciclope',
               'Spike'], index=['A', 'A', 'B', 'C'])
print(se, '\n')

# Selecionando os valores que correspondem ao indice 'A'
se['A']

A      Audax
A     Netuno
B    Ciclope
C      Spike
dtype: object

A     Audax
A    Netuno
dtype: object

 <br>


### <font color=purple>dtype : str, numpy.dtype, or ExtensionDtype, optional <font>

Esse par√¢metro serve para definirmos o tipo de dado dos elementos de uma Series. Se n√£o definirmos o tipo, o pandas infere a partir dos dados. √â bem importante que uma Series tenha elementos com o mesmo tipo de dado, pois assim voc√™ ter√° mais eficiencia e muitas vantangens para manipul√°-la.

In [12]:
# Usando uma string para definir o dtype de uma Series
# Poderia ser 'str32', 'str16', 'int8', 'int32', 'bool', etc.
se = pd.Series(data=[18, 25, 19, 31], dtype='float')
print(se.dtype)

float64

In [13]:
# Usando o numpy.dtype para definir o dtype de uma Series
se = pd.Series(data=[18, 25, 19, 31], dtype=np.float64)
print(se.dtype)

float64

 <br>

Quando uma Series tem uma salada mista de dados ou os dados s√£o do tipo str, o dtype dela √© defido pelo pandas como object.

In [14]:
se1 = pd.Series(data=['Audax', 18, 'M', 1.81])
se2 = pd.Series(data=['A', 'B', 'C', 'D'])

print(se1.dtype)
print(se2.dtype)

object
object

 <br>

Cuidado na hora convers√£o, para n√£o tentar fazer convers√µes que n√£o sejam possiveis.

In [15]:
se1 = pd.Series(data=[18.1, 25.3, 19.7, 31.8], dtype='int64')

ValueError: Trying to coerce float values to integers

 <br>


### <font color=purple>name : str, optional <font>

Serve para nomear uma Series, deve ser passado uma string. Se uma Serie for transformada numa coluna de um dataframe, o nome dela ser√° usado como o r√≥tulo da coluna do dataframe.

In [ ]:
se = pd.Series(data=[13, 18, 17, 20, 23], name='Idade')
se

 <br>


### <font color=purple>copy : bool, default False <font>

Faz uma c√≥pia do objeto de entrada. Afeta apenas a entrada S√©rie ou 1d ndarray.

In [ ]:
import numpy as np

# Criando um nd array para usar no exemplo
x = np.array([12, 13, 15, 11, 10])
print(x)

# Criando 2 Series, uma √© uma copia e a outra apenas um tipo de apontamento para x
se1 = pd.Series(data=x, copy=True)
se2 = pd.Series(data=x, copy=False)

# Modificando o a vari√°vel x
x[0] = 99

# Mostrando as 2 Series e a vari√°vel x
print(x, '\n')
print(f'**se1** \n{se1}\n')
print(f'**se2** \n{se2}\n')

##  üëæ <font size=5>Indexa√ß√£o basica<font>

Vimos anteriormente que uma Series possui 3 tipos de indices: **Indice negativo**, **Indice pad√£o** e **Index
label**. Quando n√£o definimos o index label podemos selecionar elementos de uma Series apenas usando o indice padr√£o. J√° para selecionar intervalos podemos utilizar o indice padr√£o ou indece negativo.

In [42]:
se = pd.Series('Audax Spike Mike Xuxa Ana'.split())

# selecionando um √∫nico elemento
print(se[2], '\n\n')

# selecionando elementos especificos
print(se[[2, 3]], '\n\n')

# selecionando um intervalo de elementos
print(se[-4:-1])
se.index

Mike


2    Mike
3    Xuxa
dtype: object


1    Spike
2     Mike
3     Xuxa
dtype: object

RangeIndex(start=0, stop=5, step=1)

 <br>

Quando definimos os index labels de uma Series como valores inteiros ou float, s√≥ poderemos acessar os itens dessa Series utilizando o index label. J√° para selecionar intervalos podemos utilizar o indice padr√£o ou indice negativo.

In [44]:
se = pd.Series('Audax Spike Mike Xuxa Ana'.split(), index=[10, 20, 30, 40, 50])

# selecionando um √∫nico elemento
print(se[10], '\n\n')

# selecionando elementos especificos
print(se[[10, 20]], '\n\n')

# selecionando um intervalo de elementos
print(se[1:4])

Audax


10    Audax
20    Spike
dtype: object


20    Spike
30     Mike
40     Xuxa
dtype: object

 <br>

Por fim, quando definimos os index labels de uma Series como strings ou outro tipo de dado que n√£o seja float ou int, poderemos acessar os elementos da Series utilizando os 3 tipos de indice. Para selecionar intervalos podemos tamb√©m utilizar os 3 tipos de indice.

In [50]:
se = pd.Series('Audax Spike Mike Xuxa Ana'.split(), index='a b c d e'.split())

# selecionando um √∫nico elemento
print(se['a'])
print(se[0])
print(se[-5])

Audax
Audax
Audax

In [52]:
# selecionando elementos especificos
print(se[['a', 'b']], '\n')
print(se[[0, 1]], '\n')
print(se[[-5, -4]])

a    Audax
b    Spike
dtype: object

a    Audax
b    Spike
dtype: object

a    Audax
b    Spike
dtype: object

In [53]:
# selecionando um intervalo de elementos
# perceba que o elemento que se encontra na posi√ß√£o 'd' √© selecionado
print(se['c':'d'], '\n')
print(se[2:4], '\n')
print(se[-3:-1])

c    Mike
d    Xuxa
dtype: object

c    Mike
d    Xuxa
dtype: object

c    Mike
d    Xuxa
dtype: object

 <br>

O **range index** (index default da Series) deixa a Series ocupando menos espa√ßo na mem√≥ria do que o **int64 index** (tipo de indice de uma lista e outras iterables), pois em vez de armazenar o indice de cada elemento na mem√≥ria ele guarada apenas o start, stop e o step, ou seja, o **primeiro indice**, o **ultimo indice** e a **raz√£o entre os indices**.

In [ ]:
import sys

# criando uma series com o indice range index
s1 = pd.Series([x for x in range(1000000)])
print(f'Tamanho de s1 em bytes: {sys.getsizeof(s1)}')

# criando uma series com o indice int64 index
s2 = pd.Series([x for x in range(1000000)], index=[x for x in range(1000000)])
print(f'Tamanho de s2 em bytes: {sys.getsizeof(s2)}')

 <br>

√â possivel que uma Series tenha elementos com o mesmo indice, devido o index label aceitar duplicatas.

In [ ]:
# criando uma Series com alguns indices repetidos
se = pd.Series('Audax Spike Mike Xuxa Ana'.split(), index='a a a d e'.split())

# selecionando todos os elementos que correnspodem ao indice 'a'
se['a']

 <br>

Sobrescrevendo um elemento de uma Series.

In [ ]:
# criando a Series
se = pd.Series([10, 20, 30, 40, 50, 60, 70])

# sobrescrevendo o 1¬∞ elemento
se[0] = 999
print(se)

 <br>

Sobrescrevendo elementos especificos de uma Series.

In [ ]:
# criando a Series
se = pd.Series([10, 20, 30, 40, 50, 60, 70])

# sobrescrevendo os elementos
se[[0, 1, 2]] = 999
print(se)

 <br>

Sobrescrevendo intervalos de uma Series.

In [ ]:
# criando a Series
se = pd.Series([10, 20, 30, 40, 50, 60, 70])

# sobrescrevendo o intervalo
se[4:] = 999
print(se)

 <br>

Sobrescrevendo uma Series completa.

In [ ]:
# criando a Series
se = pd.Series([10, 20, 30, 40, 50, 60, 70], index='A B C D E F G'.split())

# sobrescrevendo os elementos
novos_valores = [x for x in range(7)]
se[:] = novos_valores
print(se)

# note que somente os valores foram sobrescritos

 <br>

Trocando elementos de uma Series atrav√©s de outra Series.

In [ ]:
x = pd.Series([10, 20, 30, 40])
y = pd.Series(['A', 'A', 'A', 'A'])

# os elementos que est√£o na posi√ß√£o 0 e 2 de x v√£o ser substituidos pelos elementos que est√£o na posi√ß√£o 0 e 2 de y
x.loc[[0, 2]] = y

print(x)

 <br>

##  üëæ <font size=5>Indexa√ß√£o utilizando m√©todos<font>

No pandas temos duas maneiras muito interessantes de resgatar os dados que queremos, seja de um dataframe ou uma series. Neste t√≥pico iremos trabalhar apenas com as series.

- loc
- iloc

Basicamente os dois m√©todos servem para resgatar dados, mas possuem caracter√≠sticas distintas na hora que vamos utiliz√°-los. Vamos entender agora quais s√£o as particularidades deles e os casos de uso para cada um.

###  üê• <font size=4>loc<font>

Quando a Series tiver como indice o **range index**, o m√©todo loc s√≥ poder√° selecionar elementos da Series atrav√©s do range index.  
Quando a Series tiver como indice o **index label**, o m√©todo loc s√≥ poder√° selecionar elementos da Series atrav√©s do index label. 
 

Vamos criar uma Series para usar nos exemplos seguintes.

In [79]:
x = pd.Series(data='A B C D E F G H I J '.split())
x

0    A
1    B
2    C
3    D
4    E
5    F
6    G
7    H
8    I
9    J
dtype: object

Selecioando um elemento.

In [33]:
x.loc[0]

'A'

Selecionando elementos espec√≠ficos.

In [34]:
x.loc[[0, 2, 4]]

0    A
2    C
4    E
dtype: object

Selecionando um intervalo de elementos.

In [35]:
x.loc[3:5]  # o elemento que se encontra no indice 5 ser√° selecionado tamb√©m

3    D
4    E
5    F
dtype: object

Selecionando e trocando os elementos da Series.

In [36]:
x.loc[0:3] = 'A'
x

0    A
1    A
2    A
3    A
4    E
5    F
6    G
7    H
8    I
9    J
dtype: object

###  üê• <font size=4>iloc<font>

O m√©todo iloc seleciona linhas e colunas por n√∫meros, esta √© uma boa defini√ß√£o para o recurso. Ou seja, por mais que uma Series tenha um index label definido o m√©todo iloc s√≥ seleciona os elementos da Series atrav√©s do **range index** e tamb√©m atrav√©s do indice negativo. Apenas e nada mais.

Vamos criar uma Series para usar nos exemplos seguintes.

In [83]:
s = pd.Series(data=[x for x in range(100, 1001, 100)],
              index=[x for x in range(10, 101, 10)])
s

10      100
20      200
30      300
40      400
50      500
60      600
70      700
80      800
90      900
100    1000
dtype: int64

Selecionando apenas um elemento da Series.

In [84]:
s.iloc[0]  # no lugar o 0 poderia ser o -10

100

Selecioando elementos espec√≠ficos da Series.

In [85]:
s.iloc[[1, 2, 3]]

20    200
30    300
40    400
dtype: int64

Selecioando um intervalo da Series.

In [86]:
s.iloc[0:5]  # o valor que corresponde ao indice 5 n√£o est√° incluso na sele√ß√£o

10    100
20    200
30    300
40    400
50    500
dtype: int64

Selecionando e trocando os elementos da Series.

In [90]:
s.iloc[[0, 5, 8]] = 11111
s

10     11111
20       200
30       300
40       400
50       500
60     11111
70       700
80       800
90     11111
100     1000
dtype: int64

##  üëæ <font size=5>Indexa√ß√£o booleana<font>

###  üê• <font size=4>Indexa√ß√£o com uma condi√ß√£o<font>

A indexa√ß√£o booleana √© uma forma de selecionar elementos de uma Series atrav√©s de condi√ß√µes. Por exemplo, suponha que temos uma Series com as idades de 10 pessoas, e queremos selecionar somente as pessoas que tenham a idade maior que 13 anos. Para isso usamos a indexa√ß√£o booleana.

In [4]:
# Criando uma Series para usar no exemplo
label = ['Miguel', 'Arthur', 'Th√©o', 'Heitor', 'Gael',
         'Davi', 'Bernardo', 'Gabriel', 'Mirela', 'Sophia']
dados = [12, 14, 15, 12, 13, 17, 16, 14, 15, 12]

idades = pd.Series(data=dados, index=label)
idades

Miguel      12
Arthur      14
Th√©o        15
Heitor      12
Gael        13
Davi        17
Bernardo    16
Gabriel     14
Mirela      15
Sophia      12
dtype: int64

 <br>

As condi√ß√µes para selecionar elementos de uma Series funciona da seguinte maneira. Voc√™ cria uma condi√ß√£o, essa condi√ß√£o √© testada em cada valor da Series , ap√≥s isso √© retornado uma nova Series com valores booleanos, onde tiver **True** significa que o elemento se encaixou na condi√ß√£o e onde tiver **False** significa que o elemento n√£o se encaixou na condi√ß√£o.

In [6]:
# Perguntando quais elementos da Series s√£o maiores que 13
# Como dito, o retorno dessa oper√ß√£o ser√° uma nova Series com valores booleanos

x = idades > 13  # Podemos usar outros tipos de condi√ß√µes
x

Miguel      False
Arthur       True
Th√©o         True
Heitor      False
Gael        False
Davi         True
Bernardo     True
Gabriel      True
Mirela       True
Sophia      False
dtype: bool

 <br>

Agora podemos usar essa Series com valores booleanos como indice para selecionar os valores que sejam maiores que 13.

In [7]:
# Onde for True, o elemento ser√° selecionado
# Onde for False, o elemento ser√° ignorado
idades[x]

Arthur      14
Th√©o        15
Davi        17
Bernardo    16
Gabriel     14
Mirela      15
dtype: int64

 <br>

Essa opera√ß√£o tamb√©m pode ser feita usando o m√©todo **loc**.

In [8]:
idades.loc[x]

Arthur      14
Th√©o        15
Davi        17
Bernardo    16
Gabriel     14
Mirela      15
dtype: int64

 <br>

Agora que j√° entendemos a sintaxe para pode selecionar valores com base em condi√ß√µes, vamos fazer isso de forma mais direta, ou seja, sem precisar salvar a Series com valores booleanos em uma vari√°vel.

In [9]:
idades[ idades>13 ]

Arthur      14
Th√©o        15
Davi        17
Bernardo    16
Gabriel     14
Mirela      15
dtype: int64

 <br>

A Series booleana tem cada um de seus elementos correspondendo a cada um dos elementos da series original, ou seja, se o elemento que se encontra no indice 0 da Series booleana for **True** o elemento que se encontra no indice 0 da Series original ser√° selecionado. Por isso quando trocamos os indices de lugares podemos criar uma confus√£o, veja.

In [11]:
# Criando uma nova Series
s = pd.Series([20, 50, 11, 45, 31, 17])
s

0    20
1    50
2    11
3    45
4    31
5    17
dtype: int64

In [12]:
# Gerando uma Series booleana com base na condi√ß√£o (valor<20)
# Onde aparecer True √© pq o valor √© menor que 20
mask = s<20
mask

0    False
1    False
2     True
3    False
4    False
5     True
dtype: bool

In [13]:
# Selecionando valores menores que 20
s[ mask ]

2    11
5    17
dtype: int64

In [18]:
# Trocando os indices das Series
s.index = [0, 1, 2, 3, 5, 4]
s

0    20
1    50
2    11
3    45
5    31
4    17
dtype: int64

In [19]:
# Selecionando novamente os valores menores que 20

s[ mask ] 

# Perceba que dessa ves o 31 foi selecionado. Isso pq na nossa Series booleana o indice 
# 5 √© True, logo o valor da Series original que estiver no indice 5 sera selecionado

2    11
5    31
dtype: int64

###  üê• <font size=4>Indexa√ß√£o com mais de uma condi√ß√£o<font>

Podemos selecionar dados com condi√ß√µes em sequ√™ncias, fazer esse tipo de opera√ß√£o √© como se fosse fazer v√°rias filtragens, primeiro os dados s√£o filtrados pela primeira condi√ß√£o, depois pela segunda condi√ß√£o e assim at√© acabar as condi√ß√µes. Para esse tipo de opera√ß√£o utilizamos o sinal **&**.

In [81]:
label = ['Miguel', 'Arthur', 'Th√©o', 'Heitor', 'Gael',
         'Davi', 'Bernardo', 'Gabriel', 'Mirela', 'Sophia']
dados = [12, 14, 15, 12, 13, 17, 16, 14, 15, 12]

idades = pd.Series(data=dados, index=label)
idades

Miguel      12
Arthur      14
Th√©o        15
Heitor      12
Gael        13
Davi        17
Bernardo    16
Gabriel     14
Mirela      15
Sophia      12
dtype: int64

In [31]:
# Vou selecionar elementos >= 14 e depois elementos menores que 16
idades[ (idades>=14) & (idades<16) ]

Arthur     14
Th√©o       15
Gabriel    14
Mirela     15
dtype: int64

<br>

Podemos usar mais de uma condi√ß√£o para fazer outro tipo de filtragem, por exemplo, a primeira condi√ß√£o serve para selecionar valores maiores que 10 caso n√£o tenha nenhum valor que se encaixe nela, ent√£o a segunda condi√ß√£o ser√° acionada, caso nenhum valor n√£o se encaixe nela tamb√©m, ai a terceira condi√ß√£o ser√° acionada e assim por diante. Para esse tipo de opera√ß√£o utilizamos o sinal **|** .

In [39]:
# Vou selecionar elementos > 20, se algum elemento se encaixar nessa condi√ß√£o. Um Series booleana ser√° retornada e
# as outras condi√ß√µes n√£o ser√£o tetadas.
# Se nenhum elemento se encaixar numa das 3 condi√ß√µes, o retorno ser√° uma Series vazia.

idades.loc[ (idades==20) | (idades==25) | (idades<=15) ]

Miguel     12
Arthur     14
Th√©o       15
Heitor     12
Gael       13
Gabriel    14
Mirela     15
Sophia     12
dtype: int64

## üëæ <font size=5>View e copy<font>

Compreender **view** (visualiza√ß√£o superficial) e **copy** (c√≥pia profunda) √© uma parte importante para saber como o NumPy e o Pandas manipulam dados. Tamb√©m pode ajud√°-lo a evitar erros e gargalos de desempenho. √Äs vezes, os dados s√£o copiados de uma parte da mem√≥ria para outra, mas em outros casos, dois ou mais objetos podem compartilhar os mesmos dados, economizando tempo e mem√≥ria.

**View**: uma view √© uma visualiza√ß√£o supercial de uma Series ou um DataFrame. Qualquer altera√ß√£o que fizermos nessa view ser√° propagado para o objeto original.

**copy**: uma copy por outro lado √© uma c√≥pia profunda de uma Series ou um DataFrame. Qualquer altera√ß√£o que essa copy possa vir a sofrer n√£o ser√° propagado para o objeto original.

###  üê• <font size=4>copy<font>

Algumas opera√ß√µes que fazemos com uma Series ou um DataFrame podem retorna uma view ou uma copy. Pra saber o que cada opera√ß√£o retorna a√≠ complica. Por isso o pandas tem o m√©todo **copy()** que serve para escolher se o objeto que vamos manusear no momento tem que ser uma view ou copy do objeto original.


### <font color=purple>_copy (_<font>
<br>
    
**deep** =  True<br> 

    
### <font color=purple>_)_<font>
<br>


### deep

O par√¢metro deep quando True (seu valor padr√£o), um novo objeto ser√° criado com uma c√≥pia profunda dos dados e √≠ndices do objeto original. Modifica√ß√µes nos dados ou √≠ndices da c√≥pia n√£o ser√£o refletidas no objeto original.

In [20]:
# Criando uma Series para testar deep=True
s = pd.Series('A B C D'.split())

# Criando uma c√≥pia profunda da Series
s_copy = s.copy()

In [21]:
# Alterando a s_copia para mostrar que nenhuma mudan√ßa feita em s_copia afetar√° s
s_copy[[0, 3]] = 'XX'

print(f'*s_copia*\n{s_copy}\n')
print(f'*s_original*\n{s}')

# O mesmo raciocinio serve para um dataframe

*s_copia*
0    XX
1     B
2     C
3    XX
dtype: object

*s_original*
0    A
1    B
2    C
3    D
dtype: object

 <br>

Quando deep = False, retorna um objeto que ser√° uma view (visualoza√ß√£o superficial) do objeto original. Modifica√ß√µes nos dados ou √≠ndices da **view** ser√£o refletidas no objeto original.

In [24]:
# Criando uma Series para testar deep=False
s = pd.Series('A B C D'.split())

# Criando uma visualisa√ß√£o superficial da Series
s_view = s.copy(deep=False)

In [26]:
# Qualquer altera√ß√£o que s_view sofrer s tamb√©m sofrer√°
s_view[[0, 3]] = 'XX'

print(f'*s_view*\n{s_view}\n')
print(f'*s_original*\n{s}')

# O mesmo raciocinio serve para um dataframe

*s_view*
0    XX
1     B
2     C
3    XX
dtype: object

*s_original*
0    XX
1     B
2     C
3    XX
dtype: object

<br>

Quando tentamos mudar o elemento de uma view por outro elemento que tenha o tipo de dado diferente essa view deixa de ser view e se torna uma copy. Caso os elementos tenham o mesmo tipo a view continua sendo view.

In [29]:
s = pd.Series(x for x in range(4))

# Criando uma view
s_view = s.copy(deep=False)

# Alterando elementos da view
s_view[[0, 3]] = 'A'

# Mostrando a view e a Series original
print(f'*s_view*\n{s_view}\n')
print(f'*s_original*\n{s}')

# Perceba que somente a view mudou, isso pq ela virou uma copy, devido a troca de elementos int por elementos str
# Esse mesmo processo n√£o funciona quando √© o inverso, ou seja, trocar elementos str por elementos de outro tipo.
# At√© podemos fazer a troca, mas view n√£o deixa de ser view.

*s_view*
0    A
1    1
2    2
3    A
dtype: object

*s_original*
0    0
1    1
2    2
3    3
dtype: int64

 <br>

##  üëæ <font size=5>Dados ausentes<font>

Esse assunto √© muito importante e precisa de muita aten√ß√£o para ser estudado. Pois no mundo real um cientista de dados lida na maioria das vezes com datasets que possuem dados ausentes. Os
dados ausentes podem ocorrer quando nenhuma informa√ß√£o √© fornecida para um ou mais itens ou para uma unidade inteira. 

Quando estamos trabalhando com o pandas, para o nosso DataFrame, o ideal √© que cada coluna tenha todos os elementos com o mesmo tipo de dado. E que cada tipo represente o tipo da vari√°vel. Por exemplo, o **tipo float** serve para representar vari√°veis como altura, renda e etc.

###  üê• <font size=4>Valores int e NaN<font>

Quando temos uma coluna que deve ter valores inteiros e nela s√£o inserido valores **NaN**, todos os valores dela automaticamente ser√£o convertidos para valores do tipo float.

In [54]:
# Series com valor vazio
s = pd.Series([1, 2, 3, np.nan])

# Obeverve o dtype
s

0    1.0
1    2.0
2    3.0
3    NaN
dtype: float64

Para reverter esse problema o pandas nos dispolibiliza o tipo de dado 'Int64'. Ou seja, para reverter esse problema devemos definir o tipo de dado da coluna para que todos os valores se comportem como inteiros.

In [59]:
s = pd.Series([1, 2, 3, np.nan], dtype='Int64')

# Obeverve o dtype
s

0       1
1       2
2       3
3    <NA>
dtype: Int64

###  üê• <font size=4>Valores float e NaN<font>

J√° quando temos uma coluna que deve ter valores do tipo float, e adicionamos nela valores **NaN**, todos os valores continuaram sendo float.

In [64]:
# Series com valor vazio
s = pd.Series([1.5, 2.8, 3.1, np.nan])

# Obeverve o dtype
s

0    1.5
1    2.8
2    3.1
3    NaN
dtype: float64

Mesmo assim, o pandas nos dispolibiliza o tipo de dado 'Float64' para que n√≥s possamos definir o tipo da coluna.

In [66]:
s = pd.Series([1.5, 2.8, 3.1, np.nan], dtype='Float64')

# Obeverve o dtype
s

0     1.5
1     2.8
2     3.1
3    <NA>
dtype: Float64

###  üê• <font size=4>Valores str e NaN<font>

Uma series que cont√©m string por padr√£o tem o tipo **object**. Esse tipo de comportamento tem haver com o numpy, pois como sabemos o **pandas usa o Numpy** por debaixo do capor. Uma Series com o **dtype** igual a **object** significa que a melhor representa√ß√£o de tipo comum que o Numpy pode inferir para o conte√∫do da Series, √© que eles s√£o objetos Python. Embora ter uma Series com esse dtype seja √∫til para alguns prop√≥sitos, qualquer opera√ß√£o nos dados ser√° feita no n√≠vel do Python, com muito mais sobrecarga do que as opera√ß√µes normalmente r√°pidas, vistas nos arrays nativos do Numpy.

In [68]:
# Series com valor vazio
s = pd.Series(['A', 'B', 'C', np.nan])

# Obeverve o dtype
s

0      A
1      B
2      C
3    NaN
dtype: object

Para contornar esse problema o pandas nos disponibiliza o tido de dado 'string'. Quando definimos que o tipo de dado da nossa Series deve ser 'String', por mais que ela tenha valores **NaN**, o seu tipo deixa de ser object e passa a ser 'string'.

In [70]:
# Series com valor vazio
s = pd.Series(['A', 'B', 'C', np.nan], dtype='string')

# Obeverve o dtype
s

0       A
1       B
2       C
3    <NA>
dtype: string

###  üê• <font size=4>Encontrando valores nulos ou n√£o nulos<font>

Existem 2 m√©todos utilizados para descobrir valores nulos dentro de uma Series. Os m√©todos s√£o **isna** e **isnull**. Os dois m√©todo quando uitlizados retornam uma series de tipo booleano indicando **True** quando um valor for nulo e **False** quando o contr√°rio.

In [71]:
x = pd.Series(['A', 'B', 'C', np.nan, np.nan, 'F'], dtype='string')

# Com isna
print(f'*Com isna*\n{x.isna()}', end='\n\n\n')

# Com isnull
print(f'*Com isnull*\n{x.isnull()}')

*Com isna*
0    False
1    False
2    False
3     True
4     True
5    False
dtype: bool


*Com isnull*
0    False
1    False
2    False
3     True
4     True
5    False
dtype: bool

 <br>

O m√©todo **notnull** funciona de forma contr√°ria, ou seja, quando **True** significa que naquela posi√ß√£o existe um dado real e quando **False** existe um dado ausente.

In [37]:
x.notnull()

0     True
1     True
2     True
3    False
4    False
5     True
dtype: bool

 <br>

Como a series retornada pelos m√©todos √© do tipo booleano, n√≥s podemos utilizar a fun√ß√£o soma para poder calcular quantos dados s√£o dados ausentes ou reais.

In [78]:
print('Quantidade de dados ausentes:', x.isna().sum())
print('Quantidade de dados n√£o ausentes:', x.notnull().sum())

Quantidade de dados ausentes: 2
Quantidade de dados n√£o ausentes: 4

 <br>

###  üê• <font size=4>Excluindo linhas com valores nulos<font>

Para excluir as linhas da nossa Series n√≥s iremos utilizar o m√©todo **dropna()**. Utilizar esse m√©todo numa Series √© bem limitado, pois praticamente todos os par·∫Ωmetro desse m√©todo s√≥ servem para DataFrame.

In [162]:
x = pd.Series(['A', 'B', 'C', np.nan, np.nan, 'F'], dtype='string')

# Excluindo os valores vazios da Series
x.dropna(axis=0)

0    A
1    B
2    C
5    F
dtype: string

## üëæ <font size=5>Coletando informa√ß√µes sobre uma Series<font>

- dtypes
- index
- name
- shape
- max( )
- min( )
- mean( )
- median( )
- std( )
- corr( )
- var( )
- describe( )
- unique( )
- nunique( )
- count( )
- value_counts( )
- sample( )

# üéØ DataFrame

## üëæ  <font size=5>Defini√ß√£o<font>

<br>
O DataFrame √© uma estrutura de dados tabular, semelhante a planilha de dados do Excel, essa estrutrura conciste em tr√™s componentes principais, os dados, linhas e colunas, onde as linhas e colunas possuem rotulos.<br>

Olhando para a estrutura do DataFrame vamos perceber que ele √© a jun√ß√£o de duas ou mais Series, ou seja, cada coluna de um _**DataFrame**_ √© uma _**Series**_, veja.<br><br>


![S](https://www.datasciencemadesimple.com/wp-content/uploads/2020/05/create-series-in-python-pandas-0.png)

<br><br>

Os dados que compoem cada coluna de um DataFrame podem ser variados, ou seja, uma coluna pode conter v√°rios tipos de dados, como por exemplo, int e object (o pandas identifica str  como object). No entanto como o pandas  √© implementado usando o numpy, isso far√° o DataFrame perder performance e muitas das suas vantagens.<br>

Alguns dados de entrada para a cria√ß√£o de um DataFrame s√£o: Dict, listas, Series, np.ndarray de 1D ou 2D , outro DataFrame e muito mais ...<br>

J√° os dados que podem ser armazenados nas colunas de um DataFrame s√£o: object (str), int, float, bool, dados categ√≥ricos e etc.<br>

Um DataFrame pode ter seu tamanho mudado, atrav√©s da exclus√£o ou inser√ß√£o de linhas ou colunas.

## üëæ <font size=5>Parametros de cria√ß√£o <font>

<br>
Os parametros de cria√ß√£o de um DataFrame est√£o abaixo junto com a explica√ß√£o de cada um. 

No entanto caso voc√™ queira beber da fonte o link est√° [aqui](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.html?highlight=pandas%20dataframe#pandas.DataFrame).<br><br>

### <font color=purple>_pandas.DataFrame (_<font>

**data**    =  None<br> 
**index**   =  None<br>
**columns** =  None<br>
**dtype**   =  None<br>
**copy**    =  None<br>

### <font color=purple>_)_<font>
<br>


### <font color=purple>data : ndarray (structured or homogeneous), Iterable, dict, or DataFrame<font>

O parametro _**data**_ √© responsavel por receber o objeto que ser√° transformado em um DataFrame, esse objeto pode ser do tipo dict, listas, Series, np.ndarray de 1D ou 2D e outro DataFrame.<br>

Por padr√£o esse parametro √© None, o que signica que n√£o h√° a necessidade de atribuir algum valor para esse parametro na hora da cria√ß√£o do DataFrame.


Quando n√£o atribuimos nenhum valor ao parametro **data** estamos criando um DF vazio.

In [ ]:
import pandas as pd

In [ ]:
df = pd.DataFrame()
df

 <br>

Podemos montar um DataFrame com os estados da regi√£o norte do Brasil com uma **lista**, ao fazer isso a lista se trasmormar√° em uma coluna do DF (as linhas e colunas ter√£o rotulos num√©ricos).

In [ ]:
estados = ['Acre',
           'Amap√°',
           'Amazonas',
           'Par√°',
           'Rond√¥nia',
           'Roraima',
           'Tocantins']

df = pd.DataFrame(data=estados)
df

 <br>

Tamb√©m podemos utilizar uma **lista de listas** para montar um DataFrame com v√°rias colunas.

In [ ]:
capitais = [['Acre', 'AC', '803,5 mil', 'Rio Branco'],
            ['Amap√°', 'AP', '776,6 mil', 'Macap√°'],
            ['Amazonas', 'AM', '3,9 milh√µes', 'Manaus'],
            ['Par√°', 'PA', '8,1 milh√µes', 'Bel√©m'],
            ['Rond√¥nia', 'RO', '1,7 milh√£o', 'Porto Velho'],
            ['Roraima', 'RR', '505,6 mil', 'Boa Vista'],
            ['Tocantins', 'TO', '1,5 milh√£o', 'Palmas']]


df = pd.DataFrame(data=capitais)
df

 <br>

Outra forma de criar um DataFrame √© apartir de um **dicion√°rio**. Quando criamos um DF a partir de um dicion√°rio, cada item do dicion√°rio ser√° uma coluna do df, a chave ser√° o rotulo da coluna e o valor da chave ser√£o os valores da coluna.

In [ ]:
estados = {'Estado': ['Acre',
                      'Amap√°',
                      'Amazonas',
                      'Par√°',
                      'Rond√¥nia',
                      'Roraima',
                      'Tocantins'],
           'Sigla': ['AC',
                     'AP',
                     'AM',
                     'PA',
                     'RO',
                     'RR',
                     'TO'],
           'Popula√ß√£o': ['803,5 mil',
                         '776,6 mil',
                         '3,9 milh√µes',
                         '8,1 milh√µes',
                         '1,7 milh√£o',
                         '505,6 mil',
                         '1,5 milh√£o'],
           'Capital': ['Rio Branco',
                       'Macap√°',
                       'Manaus',
                       'Bel√©m',
                       'Porto Velho',
                       'Boa Vista',
                       'Palmas']}


df = pd.DataFrame(data=estados)
df

 <br>

**Resumo**<br>
Resumindo, o parametro data serve para indicar o que queremos que o pandas transforme em um DataFrame.

 <br>


### <font color=purple>index : Index or array-like<font>

O parametro index √© opcional, por padr√£o o √≠ndice do dataframe come√ßa em 0 e termina no √∫ltimo valor. Ele define os √≠ndices das linha.

Quando criamos um DataFrame a partir de outros objetos ou de inporta√ß√£o de dados, o pandas define o indice das linhas por padr√£o como num√©rico, mas √© possivel modificar esses √≠ndices e passar como valor para o parametro **index** algum array.

In [ ]:
import pandas as pd

In [ ]:
nomes = ['Alba', 'Ana', 'Am√©lia',
         'Breno', 'Bruno', 'Bernardo',
         'Carla', 'Cesar', 'Cris']

rotulo = [10, 11, 12, 13, 14, 15, 16, 17, 18]
# rotulo2 = [p[0] for p in nomes]

df = pd.DataFrame(data=nomes, index=rotulo)
df

 <br>


### <font color=purple>Columns : Index or array-like<font>

Este par√¢metro se comporta de duas maneiras diferentes. Vamos ver n√° pr√°tica.

Quando criamos um dataframe a partir de uma lista de listas, os indices das linhas e os rotulos das colunas ser√£o num√©ricos. Quando o r√≥tulo das colunas forem num√©ricos, podemos usar o par√¢metro columns para nomear as colunas.

In [ ]:
lista = [['huan', 18, 'm'],
         ['luigi', 19, 'm'],
         ['lucas', 18, 'm'],
         ['manoel', 17, 'm'],
         ['sim√£o', 19, 'm']]

# colunas sem nome
df = pd.DataFrame(data=lista)
display(df)


# nomeando as colunas
df = pd.DataFrame(data=lista, columns=['nome', 'idade', 'sexo'])
display(df)

 <br>

J√° quando criamos um dataframe a partir de um dicion√°rio ou uma lista de Series, o par√¢metro columns serve para definir quais itens do dicion√°rio ou, quais Series da lista devem ser transformado no dataframe.

In [ ]:
dic = {
    'nome': ['huan', 'luigi', 'lucas', 'manoel', 'sim√£o'],
    'idade': [18, 19, 18, 17, 19],
    'sexo': ['m', 'm', 'm', 'm', 'm']

}

# dataframe completo
df = pd.DataFrame(data=dic)
display(df)


# apenas nome e sexo
df = pd.DataFrame(data=dic, columns=['nome', 'sexo'])
display(df)

 <br>


### <font color=purple>dtype : dtype, default None<font>

Esse parametro serve para for√ßar todos os valores a terem o mesmo tipo. Apenas um √∫nico dtype √© permitido.<br>
Caso o DF tenha algum valor com tipo de dado igual a str n√£o ser√° possivel fazer a convers√£o.

In [ ]:
idades = [12, 13, 14, 10, 11, 17, 10, 69]

# Alguns tipos de dados num√©ricos
flutuante = [np.float16, np.float32, np.float64]
inteiro = [np.int16, np.int32, np.int64]

df = pd.DataFrame(data=idades, dtype=inteiro[0])

df.dtypes

 <br>

Obs: caso exista um valor que √© um numero, mas tem tipo str, √© possivel fazer a convers√£o de todos os valores para float.

In [ ]:
idades = ['12', 13, 14, 10, '11', '17', 10, '69']

flutuante = [np.float16, np.float32, np.float64]

df = pd.DataFrame(data=idades, dtype=flutuante[0])

df.dtypes

 <br>


### <font color=purple>copy : bool, default None<font>

O parametro **copy** serve para situa√ß√µes que voc√™ queira criar um dataframe novo a partir de uma Series ou um Dataframe antigo sem que altera√ß√µes futuras nesses objetos possam alterar o DataFrame tamb√©m.<br>

Esse parametro recebe valores booleanos, ou seja, **False** ou **True**. Por padr√£o ele √© **False**.<br>

Caso o valor seja **True**, qualquer altera√ß√£o no objeto de cria√ß√£o n√£o acarretar√° em uma mudan√ßa no DataFrame.<br>

E se for **False**, qualquer altera√ß√£o no objeto de cria√ß√£o acarretar√° em uma mudan√ßa no DataFrame.

In [ ]:
dic = {
    'nome': ['huan', 'luigi', 'lucas', 'manoel', 'sim√£o'],
    'idade': [18, 19, 18, 17, 19],
    'sexo': ['m', 'm', 'm', 'm', 'm']
}

df = pd.DataFrame(data=dic)

# Agora √© possivel fazer altera√ß√µes no df1 sem alterar o df, vice e versa.
df1 = pd.DataFrame(df, copy=True)
df2 = pd.DataFrame(df, copy=False)

df.loc[0, ['nome']] = 'modificado'

display(df1)
display(df2)

 <br>

## üëæ <font size=5>Importando arquivos ou bases de dados<font>

<br>
O pandas oferece uma variedade de m√©todos que serve para ler um arquivo e transforma-lo em uma tabela (DataFrame). Veja alguns:

- [pd.read_csv](https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html?highlight=pandas%20read_) 
- [pd.read_excel](https://pandas.pydata.org/docs/reference/api/pandas.read_excel.html?highlight=pandas%20read_) 
- [pd.read_json](https://pandas.pydata.org/docs/reference/api/pandas.read_json.html?highlight=pandas%20read_) 
- [pd.read_html](https://pandas.pydata.org/docs/reference/api/pandas.read_html.html?highlight=pandas%20read_) 
- [pd.read_sas](https://pandas.pydata.org/docs/reference/api/pandas.read_sas.html?highlight=pandas%20read_) 
- [pd.read_sql](https://pandas.pydata.org/docs/reference/api/pandas.read_sql.html?highlight=pandas%20read_) 
- [pd.read_table](https://pandas.pydata.org/docs/reference/api/pandas.read_table.html?highlight=pandas%20read_)


Cada m√©todo foi criado para ler um tipo de arquivo e por isso tem suas particularidades, devido ao nome dos m√©todos fica facil entender pra qual tipo de arquivo ele serve. Abaixo segue a explica√ß√£o de alguns desses m√©todos.<br><br>

###  üê• pd.read_csv ( )



### O que esse m√©todo faz?

A maioria dos dados est√° disponivel em um formato tabular (linhas e colunas) de arquivos CSV. √â muito popular. Por isso o pandas despolibiliza o m√©todo pd.read_csv, que importa um arquivo csv para o formato DataFrame. Tamb√©m suporta iterar ou dividir o arquivo em partes. Caso voc√™ queira aprender como ler um arquivo CSV sem usar o pandas, o link est√° [aqui](https://www.youtube.com/watch?v=AnJPtKLtc7o&ab_channel=HashtagPrograma%C3%A7%C3%A3o).

### O que √© um arquivo CSV?

CSV √© a sigla para 'Comma Separated Values' (em portugu√™s, valores separados por virgula). Um arquivo CSV √© um arquivo de texto que organiza informa√ß√µes reparados por virgula em 2 dimen√ß√µes, ou seja, linhas e colunas. O conte√∫do geralmente s√£o textos n√∫meros ou datas. Os arquivos CSV podem ser facilmente importados e exportados usando programas que armazenam dados em tabelas.

### Como um arquivo CSV √© organizado?

Em geral a primeira linha cont√©m os r√≥tulos das colunas das tabelas. Cada uma das linhas subsequentes representam uma linha da tabela. Virgulas separam cada valor da linha, o que √© motivo para o nome do formato.

Aqui temos um exemplo de um arquivo CSV. O exemplo tem 3 colunas, com os r√≥tulos nome, idade e comida favorita. Temos 5 linhas incluindo a linha do cabe√ßalho.

In [ ]:
nome, idade, comida favorita
huan barros, 18, muita coisa
jo√£o polinario, 15, pizza
ana barretos, 17, lasanha
marcos silva, 13, sorvete


### Par√¢metros

Os par√¢metros que esse m√©todo pode receber s√£o inumeros, por isso separamos somente os que voc√™ provavelmente precisa conhecer no inicio. Mas, caso voc√™ queira conhecer todos os par√¢metros o link est√° [aqui](https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html#pandas.read_csv). <br><br>

### <font color=purple>_pd.read_csv (_<font> 
<br>

**filepath_or_buffer**<br>
**sep** = ',' <br>
**header** = 'infer' <br>
**names** = _NoDefault.no_default <br>
**index_col** = None <br>
**usecols** = None <br>
**dtype** = None <br> 
**converters** = None <br>
**skiprows** = None <br>
**skipfooter** = 0 <br>
**nrows** = None <br>
**na_values** = None <br>
**skipfooter** = True


### <font color=purple>_)_ <font> <br>


### <font color=purple>filepath_or_buffer : str<font>

Esse par√¢metro √© a localiza√ß√£o do **arquivo.csv** e deve ser passado no formato de uma string. Se o **arquivo.csv** estiver no mesmo diret√≥rio do projeto ser√° necess√°rio ser passado apenas o nome do arquivo, caso contr√°rio voc√™ ter√° que passar o caminho completo da base do seu sistema de arquivos para o **arquivo.csv** que voc√™ deseja carregar, por exemplo, /home/audax/Downloads/test_file.csv . Esse par√¢metro tamb√©m aceita a URL do arquivo como localiza√ß√£o.

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('base-de-dados/teste1.csv')
df

 <br>


### <font color=purple>sep : str<font>

Significa um separador, que serve para separar os valores de cada linha de um arquivo.csv, o padr√£o √© uma v√≠rgula. No entanto pode haver arquivos com o sepador diferente da virgula, como por exemplo, dois pontos, a barra vertical e muitos outros. Nesse caso √© necess√°rio indicar ao par√¢metro **sep** que separador √© esse.

In [ ]:
# o arquivo usa a barra vertical como separador
df = pd.read_csv('base-de-dados/teste2.csv', sep='|')
df

 <br>

√â possivel haver mais de um tipo de separador em um arquivo CSV. Por isso o pandas dispolibiliza 3 mecanismos diferentes para o analisador de arquivos CSV. Os mecanismos C, pyarrow e python. C e pyarrow s√£o mais r√°pidos n√° hora de ler o arquivo e separar os valores, no entato eles n√£o conseguem ler arquivos que tenham mais de 1 separador. J√° o mecanismo python √© atualmente mais completo e √© capaz de ler arquivos CSV com mais de 1 separador, no entanto deixa a dejar na sua velocidade.

Para usar o pyarrow √© necess√°rio fazer a instala√ß√£o do pyarrow.csv via pip ou conda. Os outros n√£o precisa.

Para escolher o mecanismo que voc√™ quer usar o pandas disponibilizou o parametro **engine**, que recebe uma str com o nome do mecanismo.<br>

In [ ]:
# √© necess√°rio passar os separadores dentro de colchetes, e o tipo do dado tem que ser str
df = pd.read_csv('base-de-dados/teste3.csv', sep='[,|:]', engine='python')
df

 <br>


### <font color=purple>header  : int, list of int<font>

Serve para especificar qual linha do seu arquivo ser√° usada como os r√≥tulos das colunas do seu DataFrame. √â esperado um valor int ou uma lista de valores int. O valor padr√£o √© **_header=0_**.

In [ ]:
# Escolhendo a 4¬™ linha do arquivo como cabe√ßalho
df = pd.read_csv('base-de-dados/teste1.csv', header=3)
df

In [ ]:
# Escolhendo a 1¬™ e  a 2¬™ linha do arquivo como cabe√ßalho
# S√≥ pode ser uma lista de ints, outro tipo de array n√£o
df = pd.read_csv('base-de-dados/teste1.csv', header=[0, 1])
df

 <br>


### <font color=purple>names : array - like<font>

O par√¢metro names recebe um array com valores que ser√£o usados como o cabe√ßalho do DataFrame. O array n√£o pode conter valores repetidos. Caso o seu arquivo CSV j√° tenha cabe√ßalho, ele se tornar√° a primeira linha do DataFrame. Para sobrescrever um cabe√ßalho j√° existente √© necess√°rio passar **header=0**.

In [ ]:
# Antes de mudar o nome das colunas
df = pd.read_csv('base-de-dados/teste1.csv')
display(df)

# Depois de mudar o nome das colunas
df = pd.read_csv('base-de-dados/teste1.csv', header=0,
                 names=['name', 'age', 'favorite food'])
display(df)

 <br>



### <font color=purple>index_col : int, str, sequence of int or str, or False<font>

Serve para escolher qual coluna ser√° usada como √≠ndice do DataFrame, o valor padr√£o √© None/False. Para escolher a coluna voc√™ precisa passar o nome ou o √≠ndice da coluna. Tamb√©m √© possivel passar uma lista com os nomes ou os √≠ndices da colunas que voc√™ queira que virem o √≠ndice do seu DataFrame. Ao fazer isso um MultiIndex ser√° usado, ou seja, o seu DataFrame ter√° mutiplos √≠ndices.

In [ ]:
# Utilizando o indice da coluna

df = pd.read_csv('base-de-dados/teste1.csv', index_col=0)
df

In [ ]:
# Utilizando o nome da coluna

df = pd.read_csv('base-de-dados/teste1.csv', index_col='nome')
df

In [ ]:
# Utilizando uma lista com os indices das colunas, poderia ser outro tipo de array

df = pd.read_csv('base-de-dados/teste1.csv', index_col=[0, 2])
df

In [ ]:
# Utilizando uma lista com os nomes das colunas, poderia ser outro tipo de array

df = pd.read_csv('base-de-dados/teste1.csv',
                 index_col=['nome', 'comida favorita'])
df

 <br>


### <font color=purple>usecols : list-like ou callable<font>

Serve para especificar quais colunas do arquivo CSV devem ser importadas para o DataFrame. O padr√£o √© None, ou seja, todas as colunas ser√£o importadas. O par√¢metro deve receber uma lista com os √≠ndices ou os nomes das colunas que devem ser importadas para o DataFrame.

In [ ]:
# Utilizando os √≠ndice da coluna

# √â possivel escolher apenas uma coluna, mas o indice
df = pd.read_csv('base-de-dados/teste1.csv', usecols=[0, 2])
# presica estar dentro de uma lista.
df

In [ ]:
# Utilizando os nomes da coluna

df = pd.read_csv('base-de-dados/teste1.csv',
                 usecols=['nome', 'comida favorita'])
df

 <br>


### <font color=purple>dtype : Type name or dict of column -> type, optional<font>

O par√¢metro dtype serve para determinar o tipo de dado que cada coluna deve ter. Ele recebe um dicion√°rio, aonde a chave do dicion√°rio, deve ser nome da coluna e o valor da chave, o tipo de dado que ser√° for√ßado na coluna.

In [ ]:
df = pd.read_csv('base-de-dados/teste1.csv',
                 dtype={'nome': 'string', 'idade': 'float', 'comida favorita': 'string'})

df.dtypes

 <br>


### <font color=purple>converters : dict<font>

O parametro converters possiblita que voc√™ fa√ßa altera√ß√µes, transforma√ß√µes ou convers√µes nos valores das colunas do arquivo CSV enquanto importa o pr√≥prio CSV. Para isso √© necess√°rio passar um dicion√°rio com fun√ß√µes. A chave do dicion√°rio deve conter o nome da coluna e o valor da chave a fun√ß√£o. 

Vamos a um exemplo: o objetivo √©, da coluna nome, pegar somente o primeiro nome da pessoa. E da coluna idade, transformar os anos em meses.

In [ ]:
# DataFrame importado sem altera√ß√µes
df1 = pd.read_csv(filepath_or_buffer='base-de-dados/teste1.csv')
display(df1)


# DataFrame importado com altera√ß√µes
df2 = pd.read_csv(

    filepath_or_buffer='base-de-dados/teste1.csv',
    converters={'nome': lambda x: x.split()[0],
                'idade': lambda x: int(x)*12}
)

display(df2)

 <br>


### <font color=purple>skiprows : list-like, int ou callable<font>

O skiprows serve para definir quais linhas desde o inicio do arquivo devem ser ignoradas na hora da importa√ß√£o. O skiprows pode receber 3 tipos de valores, um numero (int), uma lista de √≠ndices ou uma fun√ß√£o. O valor padr√£o do par√¢metro √© **None**.

Suponha que voc√™ queira ignorar as 3 primeiras linhas do arquivo, para isso basta passar ao par√¢metro o numero 3. Se voc√™ quer ignorar as **n** primeiras linhas do arquivo √© s√≥ passar o numero **n** ao par√¢metro. Quando essa opera√ß√£o √© feita, a linha **n+1** se tornar√° o cabe√ßalho do dataframe. Veja um exemplo.

In [ ]:
# dataframe original
df = pd.read_csv('base-de-dados/teste1.csv')
display(df)

# dataframe depois de pular as linhas
df = pd.read_csv('base-de-dados/teste1.csv', skiprows=2)
display(df)

 <br>

Caso queira pular linhas espec√≠ficas, voc√™ pode passar uma lista com os √≠ndices das linhas a serem ignoradas.

In [ ]:
# dataframe original
df = pd.read_csv('base-de-dados/teste1.csv')
display(df)

# dataframe depois de pular as linhas
df = pd.read_csv('base-de-dados/teste1.csv', skiprows=[1, 3])
display(df)

 <br>

Tamb√©m √© possivel passar uma fun√ß√£o ao par√¢metro para pular linhas espec√≠fcas. Vamos passar uma fun√ß√£o lambda que vai ignorar as linhas √≠mpares. Quando um linha for √≠mpar a fun√ß√£o lambda retorna True indicando que essa linha deve ser ignorada caso ela seja par a fun√ß√£o lambda retorna False indicando que esse linha n√£o deve ser ignorada.

In [ ]:
# dataframe original
df = pd.read_csv('base-de-dados/teste1.csv')
display(df)

# dataframe depois de pular as linhas
df = pd.read_csv('base-de-dados/teste1.csv', skiprows=lambda n: n % 2 != 0)
display(df)

 <br>


### <font color=purple>skipfooter : int <font>

Serve para definir o numero de linhas que devem ser igonaradas na parte inferior do arquivo. O valor padr√£o √© 0. **N√£o suportado com engine='c'**, ou seja, quando voc√™ precisar ignorar algumas linhas da parte inferior do arquivo, ter√° que usar o engine python ou pyarrow. Vamos a um exemplo:

In [ ]:
# dataframe original
df = pd.read_csv('base-de-dados/teste1.csv')
display(df)

# dataframe depois de pular as linhas
df = pd.read_csv('base-de-dados/teste1.csv', engine='python', skipfooter=1)
display(df)

 <br>


### <font color=purple>nrows : int<font>

Numero de linhas do arquivo a serem lidas, o cabe√ß√°rio vem incluso por padr√£o. √ötil para ler peda√ß√µs de arquivos grandes. O valor padr√£o do par√¢metro √© None.

Obs: Se voc√™ colocar um numero maior que o numero de linhas existente no arquivo n√£o acontece nada, o pandas simplismente ler o arquivo todo.

In [ ]:
# dataframe original
df = pd.read_csv('base-de-dados/teste1.csv')
display(df)

# dataframe depois de pular as linhas
df = pd.read_csv('base-de-dados/teste1.csv', nrows=2)
display(df)

 <br>


### <font color=purple>na_values : scalar, str, list-like ou dict<font>


Por padr√£o, os seguintes valores s√£o interpretados como nulo: 

**'NaN'** Ôæ†Ôæ†**'n /a'**Ôæ†Ôæ†Ôæ†**'nan'**Ôæ†Ôæ†Ôæ†**'null'**<br>

**''**Ôæ†Ôæ†Ôæ†Ôæ†**'#N/A'**Ôæ†Ôæ†**'#N/AN/A'**Ôæ†Ôæ†**'#NA'**<br>

**'-1.#IND'**Ôæ†Ôæ†**'-1.#QNAN'**Ôæ†Ôæ†Ôæ†**'-NaN'**

**'-nan'**Ôæ†Ôæ†Ôæ†**'1.#IND'**Ôæ†Ôæ†Ôæ†Ôæ†**'1.#QNAN'**

**'N/A'**Ôæ†Ôæ†Ôæ†Ôæ†**'NA'**Ôæ†Ôæ†Ôæ†Ôæ†Ôæ†Ôæ†**'NULL'**

<br>

Com o par√¢metro na_values voc√™ pode definir outros valores para serem considerado como nulos no momento da importa√ß√£o do arquivo.

√â possivel passar como valor para ao par√¢metro um dicion√°rio, aonde a chave do dicion√°rio deve ser o nome da coluna e o valor da chave deve ser os valores que dever√£o ser considerados nulos, pode ser uma str ou uma lista de str.

In [ ]:
df = pd.read_csv(

    filepath_or_buffer='base-de-dados/teste1.csv',
    na_values={'idade': '18',
               'comida favorita': ['pizza', 'sorvete']}
)

df

 <br>

Tamb√©m √© possivel definir quais valores devem ser considerados nulos sem filtrar pela coluna, ou seja, n√£o importa a coluna que o valor estiver ele ser√° considerado como nulo. Basta passar ao par√¢metro uma str ou uma lista de str, com os valores que dever√£o ser considerados nulos.

In [ ]:
df = pd.read_csv(

    filepath_or_buffer='base-de-dados/teste1.csv',
    na_values=['18', 'sorvete']
)

df

 <br>


### <font color=purple>skip_blank_lines : bool, padr√£o True<font>

Se o valor passado ao par√¢metro for True, as linhas em branco ser√£o puldas em vez de interpretadas como valores NaN.

In [ ]:
# sem desconsiderar as linhas brancas
df = pd.read_csv(

    filepath_or_buffer='base-de-dados/teste4.csv',
    skip_blank_lines=False
)

df

In [ ]:
# desconsiderando as linhas brancas
df = pd.read_csv(

    filepath_or_buffer='base-de-dados/teste4.csv',
    skip_blank_lines=True
)

df

 <br>


## Dicas

- Antes de carregar o arquivo CSV em um quadro de dados do pandas, sempre d√™ uma olhada no arquivo. Ele o ajudar√° a estimar quais colunas voc√™ deve importar e determinar quais tipos de dados suas colunas devem ter.


- Voc√™ tamb√©m deve procurar a contagem total de linhas do conjunto de dados. Um sistema com 4 GB de RAM pode n√£o consegue carregar 7 a 8 milh√µes de linhas.

 <br>

## üëæ <font size=5>Visualisando um dataframe<font>

Neste t√≥pico iremos aprender algumas formas de visualisar um dataframe. A baixo segue alguns m√©todos que iremos estudar.

- print(df)
- display(df)
- DataFrame.head( )
- DataFrame.tail( )

### üê• print( )

Uma das maneiras mais simples de ver um dataframe. Por ser t√£o simples n√£o √© reconmend√°vel ustiliz√°-lo, estou apresentando ele apenas para dizer que √© possivel.

In [ ]:
df = pd.read_csv(filepath_or_buffer='base-de-dados/teste1.csv')

print(df)  # Apenas coloque o nome do dataframe dentro da fun√ß√£o

 <br>

### üê• display( )

A fun√ß√£o display pode-se dizer que √© um print( ) melhorado. Essa fun√ß√£o mostra o dataframe em um formato de tabela beem agr√°davel.

In [ ]:
df = pd.read_csv(filepath_or_buffer='base-de-dados/teste1.csv')

display(df)

 <br>

### üê• DataFrame.head( )

O metodo head( ) serve para visualizas as n primeiras linhas de um dataframe.


### Parametros

Esse m√©todo recebe apenas 1 par√¢metro, veja.


### n : int

Esse par√¢metro serve para definir a quantidade de linhas que voc√™ deseja visualisar. Veja o exemplo abaixo.

In [ ]:
df = pd.read_csv(filepath_or_buffer='base-de-dados/teste1.csv')

# todo o dataframe
display(df)

# apenas as 2 primeiras linhas
display(df.head(n=2))

 <br>

### üê• DataFrame.tail( )

Esse par√¢metro √© o contr√°rio do head(), basicamente ele serve para ver as ultimas n linhas de um dataframe.


### Parametros

Esse m√©todo recebe apenas 1 par√¢metro, veja.


### n : int

Esse par√¢metro serve para definir a quantidade de linhas que voc√™ deseja visualisar. Veja o exemplo abaixo.

In [ ]:
df = pd.read_csv(filepath_or_buffer='base-de-dados/teste1.csv')

# todo o dataframe
display(df)

# apenas as 2 ultimas linhas
display(df.tail(n=2))

 <br>

## üëæ <font size=5>Indexa√ß√£o utilizando m√©todos<font>

Utilizando loc e iloc:

- Selecionar linha (s)
- Selecionar coluna (s)
- Selecionar linha (s) e selecionar coluna (s) espec√≠fica (s)
- Selecionar 1 valor em especifico
- Selecionar dados com base em seu tipo usando o .select_dtype()

## üëæ <font size=5>Indexa√ß√£o booleana<font>

- Selecionar linha (s) usando condi√ß√µes

## üëæ <font size=5>Dados ausentes<font>

Como j√° estudamos l√° atr√°s a import√¢ncia de saber trabalhar com dados ausentes e o processo de tipagem das Series que possuem dados ausentes, n√£o precisamos passar por todo esse processo novamente. Nesse t√≥pico apenas iremos aprender como os m√©todos para trabalhar com dados ausentes funcionam em um DataFrame.

###  üê• <font size=4>M√©todo astype<font>

Como sabemos, √© muito importante que cada elemento da coluna do nosso DataFrame possua o mesmo tipo de dado. Para que a coluna seja homog√™nea e assim podermor fazer muitas opera√ß√µes e com muita performance. Pois estaremos no nivel numpy de processamento.

J√° quando o tipo da coluna do DataFrame √© **object** significa que as opera√ß√µes que ser√£o feitas com essa coluna ser√£o bem limitadas e com pouca efici√™ncia, pois o numpy n√£o estar√° mais em a√ß√£o, mas sim o python.

O m√©todo **astype** nos permite definir o tipo de cada coluna do DataFrame. Bom √© isso o que queremos, cada coluna com um tipo especifico e que esse tipo n√£o seja object. Abaixo veja os par√¢metros que esse m√©todo recebe.


### <font color=purple>_.astype (_<font>

**dtype**<br> 
**copy**   =  True<br>
**erros**  =  'raise'<br>

### <font color=purple>_)_<font>
<br>


### <font color=purple>dtype : str ou dict<font>

O par√¢metro dtype √© utilizado para espeficicar o tipo de dado que voc√™ quer for√ßar em determinada Series ou Dataframe. Podemos passar ao par√¢metro dtype um tipo de dado para ser for√ßado em um Series e tamb√©m num DataFrame por completo, ou seja, todas as colunas do DataFrame.

In [134]:
df = pd.DataFrame({'Nome':['Huan', 'Luigi', 'Lucas', np.nan, 'Ana'],
                   'Idade':[np.nan, 19, 18, 16, np.nan],
                   'Altura':[1.8, 1.78, np.nan, 1.83, 1.75]})
s = pd.Series(['Huan', 'Luigi', 'Lucas', np.nan, 'Ana'])


# Mudando o tipo de todas as colunas do df
df = df.astype(dtype='string') 

# Mudando o tipo da Series
s = s.astype(dtype='string')


#######################################################################
# Note que √© necess√°rio sobreescrever o DataFrame e a Series anterior #
#######################################################################


# Depois da mudan√ßa de tipo
print('**DataFrame**')
print(df.dtypes, '\n')

print('**Series**')
print(s.dtype)

**DataFrame**
Nome      string
Idade     string
Altura    string
dtype: object

**Series**
string

 <br>

O m√©todo **astype** aplicado em um DataFrame nos permite passar um dicinion√°rio ao par√¢metro **dtype**, onde cada chave do dicion√°rio corresponde ao nome de uma coluna do DataFrame e o valor de cada chave corresponde ao tipo de dado que deve ser for√ßado na coluna em espec√≠fico.

In [119]:
df = pd.DataFrame(
    data={'Nome'   : ['Huan', 'Luigi', 'Lucas', np.nan, 'Ana'],
          'Idade'  : [np.nan, 19, 18, 16, np.nan],
          'Altura' : [1.8, 1.78, np.nan, 1.83, 1.75]}
)


# Modificando o tipo de cada coluna do df
df = df.astype(
    dtype={'Nome'   : 'string',
           'Idade'  : 'Int64' ,
           'Altura' : 'Float64'}
)

# Tipo de cada coluna ap√≥s a mudan√ßa
df.dtypes

Nome       string
Idade       Int64
Altura    Float64
dtype: object

 <br>


### <font color=purple>copy : bool<font>

O par√¢metro copy serve para definir se o retorno do par√¢metro ser√° uma copia profunda ou rasa do DataFrame original. Quando copy igual a **True** (o padr√£o) uma c√≥pia profunda do DataFrame original ser√° retornado. Quando copy igual a **False** uma c√≥pia rasa ser√° retornado.


### <font color=purple>errors : {‚Äòraise‚Äô, ‚Äòignore‚Äô}, default ‚Äòraise‚Äô<font>

Ao defini-lo como **' raise '**, permitimos que as exce√ß√µes sejam levantadas pela fun√ß√£o. Caso contr√°rio, podemos configur√°-lo para **' ignorar '**.

In [2]:
s = pd.Series(['Huan', 'Luigi', 'Lucas', np.nan, 'Ana'])

# errors = 'ignore' 
# significa que qualquer exece√ß√£o √© ignorada e o objeto original √© retornado.
s = s.astype(dtype='Int64', errors='ignore')

<br>

### üê• <font size=4>M√©todo to_numeric<font>

###  üê• <font size=4>Encontrando valores nulos ou n√£o nulos<font>

Os m√©todo **isna** e **isnull** nos indicam quando temos um dado ausente dentro do nosso DataFrame. Esses m√©todos retornam um Dataframe de tipo booleano que foi espelhado no DataFrame original. Ou seja, onde aparecer **True** significa que naquela posi√ß√£o do DataFrame se encontra um dado ausente e onde aparecer **False** significa o contr√°rio.

In [3]:
# Criando o df
df = pd.DataFrame({'Nome':['Huan', 'Luigi', 'Lucas', np.nan, 'Ana'],
                   'Idade':[np.nan, 19, 18, 16, np.nan],
                   'Altura':[1.8, 1.78, np.nan, 1.83, 1.75]})

# Alterando o tipo de cada coluna
df = df.astype(
    dtype={
        'Nome':'string',
        'Idade': 'Int64',
        'Altura': 'Float64'
    },
    
    copy=True
)

In [4]:
# Verificando dados asentes com isna
df.isna()

    Nome  Idade  Altura
0  False   True   False
1  False  False   False
2  False  False    True
3   True  False   False
4  False   True   False

In [5]:
# Verificando dados asentes com isna
df.isnull()

    Nome  Idade  Altura
0  False   True   False
1  False  False   False
2  False  False    True
3   True  False   False
4  False   True   False

<br>

J√° o m√©todo **notnull** funciona de maneira contr√°ria, ou seja, ele serve para descobrir quais valores n√£o s√£o nulos. Ent√£o quando for **True** significa que naquela posi√ß√£o se encontra um valor n√£o nulo e quando for **False** significa o contr√°rio.

In [9]:
df.notnull()

    Nome  Idade  Altura
0   True  False    True
1   True   True    True
2   True   True   False
3  False   True    True
4   True  False    True

<br>

Os valores False e True na l√≥gica computacional podem ser considerados como 0 e 1 respectivamente. Por isso podemos usar o m√©todo **sum** para somar quantos elementos da Series s√£o valores vazios ou n√£o vazios.

In [16]:
print(f'Quantidade de dados ausentes por coluna:\n{df.isna().sum()}\n')
print(f'Quantidade de dados n√£o ausentes por coluna:\n{df.notnull().sum()}\n')

Quantidade de dados ausentes por coluna:
Nome      1
Idade     2
Altura    1
dtype: int64

Quantidade de dados n√£o ausentes por coluna:
Nome      4
Idade     3
Altura    4
dtype: int64

 <br>

###  üê• <font size=4>Excluindo linhas ou colunas que possuam dados ausentes<font>

A m√©todo **dropna()** do Pandas  √© usado para remover linhas ou colunas com valores nulos. Por padr√£o, essa fun√ß√£o retorna um novo DataFrame e o DataFrame de origem permanece inalterado. A sintaxe do m√©todo **dropna()** √©:


### <font color=purple>_.dropna (_<font>

**axis**    =  0    <br> 
**how**     =  'Any'<br>
**subset**  =  None <br>
**inplace** =  False<br>
    
### <font color=purple>_)_<font>
<br>


### <font color=purple>axis : {0 or ‚Äòindex‚Äô, 1 or ‚Äòcolumns‚Äô}, default 0<font>

Esse par√¢metro serve para definir se a linha ou a coluna ser√° excluida. 0 para linha e 1  para coluna.

In [163]:
# Criando o  DataFrame com dados ausentes
df = pd.DataFrame({'Nome':['Huan', 'Luigi', 'Lucas', 'Marcos', 'Ana'],
                   'Idade':[np.nan, 19, 18, 16, np.nan],
                   'Altura':[np.nan, 1.78, np.nan, 1.83, 1.75],
                   'Sex': [np.nan, np.nan, np.nan, np.nan, np.nan]})
df

     Nome  Idade  Altura  Sex
0    Huan    NaN     NaN  NaN
1   Luigi   19.0    1.78  NaN
2   Lucas   18.0     NaN  NaN
3  Marcos   16.0    1.83  NaN
4     Ana    NaN    1.75  NaN

In [103]:
# Excluindo as linhas que possuem valores ausentes
df.dropna(axis=0)

Empty DataFrame
Columns: [Nome, Idade, Altura, Sex]
Index: []

In [104]:
# Excluindo as colunas que possuem valores ausentes
df.dropna(axis=1)

     Nome
0    Huan
1   Luigi
2   Lucas
3  Marcos
4     Ana

<br>


### <font color=purple>how : {‚Äòany‚Äô or ‚Äòall‚Äô}, default ‚Äòany‚Äô<font>

O par√¢metro how √© mais adequado para um DataFrame. Quando o par√¢metro **how** for igual a **'any'**, significa que a linha ou acoluna ser√° excluida se possuir um ou mais valores nulos. Quando o par√¢metro for igual a **'all'**, significa que a linha ou coluna ser√° excluida apenas se for composta inteiramente por valores nulos.

In [105]:
# Excluindo as linhas que possui 1 ou mais valores vazios
df.dropna(axis=0, how='any')

Empty DataFrame
Columns: [Nome, Idade, Altura, Sex]
Index: []

In [106]:
# Excluindo as colunas que possui 1 ou mais valores vazios
df.dropna(axis=1, how='any')

     Nome
0    Huan
1   Luigi
2   Lucas
3  Marcos
4     Ana

In [107]:
# Excluindo as linhas que possui todos os valores vazios
df.dropna(axis=0, how='all')

     Nome  Idade  Altura  Sex
0    Huan    NaN     NaN  NaN
1   Luigi   19.0    1.78  NaN
2   Lucas   18.0     NaN  NaN
3  Marcos   16.0    1.83  NaN
4     Ana    NaN    1.75  NaN

In [108]:
# Excluindo as colunas que possui todos os valores vazios
df.dropna(axis=1, how='all')

     Nome  Idade  Altura
0    Huan    NaN     NaN
1   Luigi   19.0    1.78
2   Lucas   18.0     NaN
3  Marcos   16.0    1.83
4     Ana    NaN    1.75

 <br>


### <font color=purple>subset  : column label or sequence of labels, optional<font>

O par√¢metro **subset** serve para:

- excluir linhas com base em uma coluna espec√≠fica ou mais de uma coluna. 
- excluir colunas com base em uma linha espec√≠fica ou mais de uma linha.

In [131]:
# df antes de excluir as linhas
df

     Nome  Idade  Altura  Sex
0    Huan    NaN     NaN  NaN
1   Luigi   19.0    1.78  NaN
2   Lucas   18.0     NaN  NaN
3  Marcos   16.0    1.83  NaN
4     Ana    NaN    1.75  NaN

Vamos escluir as linhas com base na coluna **Altura**. Ou seja, cada linha da coluna **Altura** que conter valor nulo ser√° excluida.

In [147]:
df.dropna(axis=0, subset=['Altura'])

     Nome  Idade  Altura  Sex
1   Luigi   19.0    1.78  NaN
3  Marcos   16.0    1.83  NaN
4     Ana    NaN    1.75  NaN

Vamos escluir as linhas com base na coluna **Altura** e **Idade**. Ou seja, cada linha da coluna **Altura** e da coluna **Idade** que conter valor nulo ser√° excluida.

In [135]:
df.dropna(axis=0, subset=['Altura', 'Idade'])

     Nome  Idade  Altura  Sex
1   Luigi   19.0    1.78  NaN
3  Marcos   16.0    1.83  NaN

Vamos escluir as coluna com base na **primeira linha do df**. Ou seja, cada coluna da **primeira linha do df** que conter valor nulo ser√° excluida.

In [137]:
df.dropna(axis=1, subset=[0])

     Nome
0    Huan
1   Luigi
2   Lucas
3  Marcos
4     Ana

Vamos escluir as coluna com base na **primeira linha do df** e na **quinta linha do df**. Ou seja, cada coluna da **primeira linha do df** e da **primeira linha do df** que conter valor nulo ser√° excluida.

In [152]:
df.dropna(axis=1, subset=[0, 4])

     Nome
0    Huan
1   Luigi
2   Lucas
3  Marcos
4     Ana

<br>


### <font color=purple>implace  : bool, default False<font>

Quando True, o DataFrame de origem √© alterado. Quando False, um novo DataFrame √© retornado.

In [157]:
# Um novo DataFrame √© retornado
df_novo = df.dropna(axis=0, inplace=False)
df_novo

Empty DataFrame
Columns: [Nome, Idade, Altura, Sex]
Index: []

Vamos escluir as coluna com base na **primeira linha do df**. Ou seja, cada coluna da **primeira linha do df** que conter valor nulo ser√° excluida.

In [159]:
# O DataFrame original √© alterado
df.dropna(axis=0, inplace=True)
df

Empty DataFrame
Columns: [Nome, Idade, Altura, Sex]
Index: []

<br>

### üê• <font size=4>Tratando valores vazios com fillna()<font>

O m√©todo **fillna** serve para substituir os valores nulos de um DataFrame por outro valor especificado. Voc√™ pode espec√≠ficar o valor que vai substituir os valores nulos ou pode usar o par√¢metro **method** para escolher alguns m√©todos estat√≠sticos para preencher os valores nulos. Veja a sintaxe do **fillna**:


### <font color=purple>_.fillna (_<font>
 
**value** = None<br>
**method** = None<br>
**inplace** = False<br>
**limit** = None<br>
**copy** = True<br>
**axis** = None<br>
**downcast** = None<br>

### <font color=purple>_)_<font>
<br>


### <font color=purple>value : scalar, dict, Series, or DataFrame<font>

## üëæ <font size=5>Coletando informa√ß√µes sobre o DataFrame<font>

- DataFrame.dtypes
- DataFrame.columns
- DataFrame.index
- DataFrame.shape
- DataFrame.max
- DataFrame.min
- DataFrame.mean
- DataFrame.median
- DataFrame.var
- DataFrame.std
- DataFrame.describe
- DataFrame.unique e nunique
- DataFrame.count
- DataFrame.value_counts
- DataFrame.sample
- pd.crosstab
- pd.concat
- DataFrame.apply
- DataFrame.merge
- DataFrame.map
- DataFrame.astype
- DataFrame.set_index
- DataFrame.sort_values
- DataFrame.groupby
- DataFrame.T 
- DataFrame.pivot
- pd.cut
- DataFrame.drop
- DataFrame.transform