# üí† Introdu√ß√£o

Os comandos DDL (Data Definition Language) s√£o comandos utilizados para definir o esquema de uma base de dados. Esses comandos incluem a cria√ß√£o, modifica√ß√£o e remo√ß√£o de tabelas, colunas, √≠ndices e outros objetos relacionados ao esquema de uma base de dados. Alguns exemplos de comandos DDL incluem:

- CREATE DATABASE
- CREATE TABLE
- ALTER TABLE
- DROP TABLE
- RENAME TABLE
- CREATE INDEX
- DROP INDEX
- outros

Esses comandos geralmente s√£o executados pelo administrador do banco de dados, pois eles afetam a estrutura da base de dados e podem causar impactos significativos na aplica√ß√£o que utiliza essa base de dados.

# üí† Create database

Para criar uma nova base de dados no MySQL, voc√™ pode usar o comando **CREATE** **DATABASE** seguido pelo nome da base de dados que deseja criar. Exemplo:

In [ ]:
CREATE DATABASE nome_da_base;


Voc√™ tamb√©m pode usar v√°rios par√¢metros para personalizar a cria√ß√£o do banco de dados de acordo com suas necessidades. Alguns dos par√¢metros comuns que voc√™ pode usar ao criar um banco de dados est√£o abaixo.

## ‚ú¥Ô∏è Default character set

O par√¢metro **DEFAULT CHARACTER SET** especifica o conjunto de caracteres padr√£o para o banco de dados. Ele afeta como os dados s√£o armazenados e comparados dentro do banco de dados. Esse par√¢metro √© opcional, mas √© recomend√°vel especific√°-lo ao criar um banco de dados, para garantir que os dados sejam armazenados e comparados de maneira consistente.

Valores v√°lidos para **DEFAULT CHARACTER SET** incluem:

- **utf8**: conjunto de caracteres Unicode com suporte para caracteres internacionais. (Padr√£o BR)
- **latin1**: conjunto de caracteres ISO 8859-1 para idiomas ocidentais.
- **cp1250**: conjunto de caracteres Windows para idiomas da Europa Central e Oriental.
- **gb2312**: conjunto de caracteres para idiomas chineses simplificados.
- **big5**: conjunto de caracteres para idiomas chineses tradicionais.Ôæ†

Esses s√£o apenas alguns exemplos de conjuntos de caracteres suportados pelo MySQL, existem muitos outros dispon√≠veis dependendo da vers√£o e configura√ß√£o do seu MySQL. Aqui est√° um exemplo de como usar o par√¢metro **DEFAULT CHARACTER SET** ao criar um banco de dados no MySQL.

In [ ]:
CREATE DATABASE clientes    # Cria a database com o nome de clientes 
DEFAULT CHARACTER SET utf8; # Especificando o conjunto de caracteres padr√£o que vai ser armazenado na database

## ‚ú¥Ô∏è Default collate

O par√¢metro **DEFAULT COLLATE** especifica a ordena√ß√£o padr√£o para o banco de dados. Ele afeta como os dados s√£o comparados dentro do banco de dados. Esse par√¢metro √© opcional, mas √© recomend√°vel especific√°-lo ao criar um banco de dados, para garantir que os dados sejam comparados de maneira consistente.

Os valores v√°lidos para **DEFAULT COLLATE** dependem do conjunto de caracteres especificado no par√¢metro **DEFAULT CHARACTER SET**. Por exemplo, se o DEFAULT CHARACTER SET for especificado como utf8, os valores v√°lidos para DEFAULT COLLATE incluem:

- **utf8_general_ci**: ordena√ß√£o case-insensitive (n√£o diferencia mai√∫sculas de min√∫sculas) para caracteres unicode.
- **utf8_bin**: ordena√ß√£o case-sensitive (diferencia mai√∫sculas de min√∫sculas) para caracteres unicode.

Se o **DEFAULT CHARACTER SET** for especificado como latin1, os valores v√°lidos para **DEFAULT COLLATE** incluem:

- **latin1_swedish_ci**: ordena√ß√£o case-insensitive para caracteres ISO 8859-1.
- **latin1_bin**: ordena√ß√£o case-sensitive para caracteres ISO 8859-1.Especifica a ordena√ß√£o padr√£o para o banco de dados. Isso afeta como os dados s√£o comparados dentro do banco de dados. Exemplo: "default collate utf8_general_ci".

√â importante notar que esses s√£o apenas alguns exemplos de ordena√ß√µes suportadas pelo MySQL, existem muitas outras dispon√≠veis dependendo da vers√£o e configura√ß√£o do seu MySQL. Al√©m disso, os conjuntos de caracteres podem ter suporte a diferentes tipos de ordena√ß√£o, dependendo do conjunto de caracteres escolhido. Aqui est√° um exemplo de como usar o par√¢metro **DEFAULT COLLATE** ao criar um banco de dados no MySQL.

In [ ]:
CREATE DATABASE contatos         # Cria a database com o nome de clientes
DEFAULT CHARACTER SET utf8       # Especificando o conjunto de caracteres padr√£o que vai ser armazenado na database
DEFAULT COLLATE utf8_general_ci; # Especificando a ordena√ß√£o padr√£o dos caracteres da database

## ‚ú¥Ô∏è Comment

Fornece uma descri√ß√£o ou coment√°rio sobre o banco de dados. Exemplo: "COMMENT 'Banco de dados de cadastro de clientes'".

## ‚ú¥Ô∏è Engine

Especifica o mecanismo de armazenamento a ser usado para o banco de dados. O MySQL suporta v√°rios mecanismos de armazenamento, como InnoDB, MyISAM, etc. Exemplo: "ENGINE=InnoDB".

## ‚ú¥Ô∏è Auto_increment

Especifica o valor inicial para um campo auto_incremento em uma tabela.

## ‚ú¥Ô∏è Tablespace

Especifica onde as tabelas ser√£o armazenadas fisicamente no sistema de arquivos.

## ‚ú¥Ô∏è Storage

Especifica como os dados ser√£o armazenados fisicamente no sistema de arquivos.

## ‚ú¥Ô∏è Encryption

Especifica se o banco de dados deve ser cifrado.

## ‚ú¥Ô∏è Schema

Cria o banco de dados como um esquema no banco de dados existente.

## ‚ú¥Ô∏è Select

Cria uma c√≥pia do banco de dados existente.

## ‚ú¥Ô∏è If no exists

Cria o banco de dados apenas se ele n√£o existir. Isso evita erros se o banco de dados j√° existir.

# üí† Create table

Criar uma tabela √© mais complexo do que criar uma base de dados, pois agora temos que especificar quais ser√£o as colunas da tabela e quais caracteristicas essas colunas devem ter. N√≥s definimos as caracteristicas de uma coluna de duas formas, especificando qual ser√° o seu **tipo de dado primitivo** e quais ser√£o suas **constraints**.

- O **tipo de dado primitivo** √© usado para definir o tipo de dado da coluna.
- As **constraints** s√£o restri√ß√µes que garantem a integridade dos dados em uma tabela do banco de dados. Elas s√£o usadas para garantir que os dados inseridos em uma tabela atendam a certas condi√ß√µes.

Abaixo temos um exemplo de como criar uma tabela e suas colunas, definir o tipo de dado e algumas restri√ß√µes para cada coluna.

In [ ]:
CREATE TABLE nomedatabela (
    idpessoa int NOT NULL UNIQUE,
    nome varchar(25),
    idade int,
    peso decimal(6, 3)
    nacionalidade varchar(30) DEFAULT 'Brasil'
);


Como podemos ver, o camando que utilizamos para criar uma tabela √© o **CREATE TABLE** seguido do **nomedatabela**. Logo ap√≥s temos as defini√ß√µes das colunas, seus tipos primitimos e constraints. Abaixo se encontra o significado de cada tipo primitivo (usado no MySQL) e tamb√©m o significado para algumas constraints.

## ‚ú¥Ô∏è Tipos de dados primitivo

### üîπ <font>Numerico inteiro<font>

**TinyInt**: Ele √© usado para armazenar valores inteiros dentro de um intervalo espec√≠fico. O tamanho de armazenamento em bytes de um campo TINYINT √© geralmente de 1 byte, ou 8 bits. O TINYINT √© uma boa escolha quando se sabe que o valor armazenado ser√° pequeno, e se voc√™ deseja economizar espa√ßo de armazenamento.

In [ ]:
CREATE TABLE pessoas (
idpessoa tanyint         # A coluna 'idpessoa' s√≥ pode receber valores inteiros do tamanho que o tinyint permiti
);

---

**SmallInt**: Ele √© usado para armazenar valores inteiros dentro de um intervalo espec√≠fico. O tamanho de armazenamento em bytes de um campo SMALLINT √© geralmente de 2 bytes, ou 16 bits. √â uma das op√ß√µes de tamanho pequeno a intermedi√°rio para armazenamento de n√∫meros inteiros.

In [ ]:
CREATE TABLE pessoas (
idpessoa smallint         # A coluna 'idpessoa' s√≥ pode receber valores inteiros do tamanho que o smallint permiti
);

---

**Mediumint**: Ele √© usado para armazenar valores inteiros dentro de um intervalo espec√≠fico. O tamanho de armazenamento em bytes de um campo MEDIUMINT √© geralmente de 3 bytes, ou 24 bits. √â uma das op√ß√µes de tamanho intermedi√°rio para armazenamento de n√∫meros inteiros.

In [ ]:
CREATE TABLE pessoas (
idpessoa mediumint         # A coluna 'idpessoa' s√≥ pode receber valores inteiros do tamanho que o mediumint permiti
);

---

**Int**: Ele √© usado para armazenar valores inteiros dentro de um intervalo espec√≠fico. O tamanho de armazenamento em bytes de um campo INT √© geralmente de 4 bytes, ou 32 bits. Ele √© a op√ß√£o mais comum para armazenamento de n√∫meros inteiros que possuem o tamanho de intermedi√°rio a grande.

In [ ]:
CREATE TABLE pessoas (
idpessoa int             # A coluna 'idpessoa' s√≥ pode receber valores inteiros do tamanho que o int permiti
);

---

**Bigint**: Ele √© usado para armazenar valores inteiros dentro de um intervalo espec√≠fico. O tamanho de armazenamento em bytes de um campo BIGINT √© geralmente de 8 bytes, ou 64 bits. Ele √© uma das op√ß√µes maiores para armazenamento de n√∫meros inteiros.

In [ ]:
CREATE TABLE pessoas (
idpessoa bigint         # A coluna 'idpessoa' s√≥ pode receber valores inteiros do tamanho que o bigint permiti
);

### üîπ <font>Numerico real<font>

- Decimal
- Float
- Double
- Real

### üîπ <font>Numerico l√≥gico<font>

- Bit
- Boolean

### üîπ <font>Literal caractere<font>

- Char
- Varchar

### üîπ <font>Literal texto<font>


- TinyText
- Text
- MediumText
- LongText

### üîπ <font>Literal cole√ß√£o<font>

- Enum
- Set

### üîπ <font>Literal bin√°rio<font>

- TinyBlob
- Blob
- MediumBlob
- LongBlob

### üîπ <font>Date<font>

- Date
- DateTime
- TimeStamp
- Time
- Year

### üîπ <font>Espacial<font>

- Geometry
- Point
- Polygon
- MultiPolygon

## ‚ú¥Ô∏è Constraints

### üîπ Not null

Essa constraint garante que uma coluna n√£o tenha valores nulos. Por exemplo, se voc√™ quiser garantir que uma coluna "nome" n√£o possa ter valores nulos, voc√™ pode usar a constraint NOT NULL.

In [ ]:
CREATE TABLE pessoas (
    ID int NOT NULL,    # Caso o valor que sera inserido no campo email for nulo
                        # todo o registro n√£o ser√° adicionado, ou seja, nenhuma outra coluna sera preenchida.     
    nome VARCHAR(30)
);

### üîπ Unique

Essa constraint garante que os valores em uma coluna sejam √∫nicos. Por exemplo, se voc√™ quiser garantir que uma coluna "email" tenha valores √∫nicos, voc√™ pode usar a constraint UNIQUE.

In [ ]:
CREATE TABLE pessoas (
    ID int NOT NULL,
    email VARCHAR(30) UNIQUE # Caso o valor que sera inserido no campo email for repetido
);                           # todo o registro n√£o ser√° adicionado, ou seja, nenhuma outra coluna sera preenchida.

### üîπ Primary key

Essa constraint define **uma coluna ou conjunto de colunas** como a chave prim√°ria de uma tabela. A chave prim√°ria √© usada para identificar de forma √∫nica uma linha na tabela e garante a integridade referencial quando outras tabelas fazem refer√™ncia a ela. Por exemplo, se voc√™ quiser definir uma coluna "ID" como a chave prim√°ria de uma tabela "pessoas", voc√™ pode usar a constraint PRIMARY KEY.

In [ ]:
CREATE TABLE pessoas (
    ID int PRIMARY KEY,       # A coluna ID ser√° a chave prim√°ria da tabela pessoas.
                              # Se um um ID preste a ser adicionado for repetido, todo o registro n√£o ser√° adiconado
                              # Ou seja, nenhuma coluna ser√° preenchida.
    nome VARCHAR(30) NOT NULL,
);

---

Outra forma de definir uma coluna da tabela como chave primaria √©:

In [ ]:
CREATE TABLE pessoas (
    ID int,        
    nome VARCHAR(30) NOT NULL,
    PRIMARY KEY (ID)             # A coluna ID ser√° a chave prim√°ria da tabela pessoas
);

### üîπ Default

Essa constraint especifica um valor padr√£o para uma coluna. Se um valor n√£o for especificado para essa coluna ao inserir dados, o valor padr√£o ser√° usado. Por exemplo, se voc√™ quiser garantir que a coluna "nacionalidade" na tabela "pessoas" tenha o valor padr√£o "Brasil", voc√™ pode usar a constraint DEFAULT.

In [ ]:
CREATE TABLE pessoas (
   ID int NOT NULL,
   nome VARCHAR(30) NOT NULL,
   nacionalidade VARCHAR(25) DEFAULT 'Brasil' # Se nehuma nacionalidade for especificada a nacionalidade sera Brasil
);

### üîπ Check

Essa constraint especifica uma condi√ß√£o que deve ser verificada antes de inserir ou atualizar dados na tabela. Por exemplo, se voc√™ quiser garantir que a coluna "idade" na tabela "pessoas" contenha valores maiores do que 18, voc√™ pode usar a constraint CHECK.

In [ ]:
CREATE TABLE pessoas (
    ID int NOT NULL,
    nome VARCHAR(30) NOT NULL,
    idade int CHECK (idade > 18) # Todo o registro ser√° adicionado somente se a idade for maior que 18
);                               # caso contr√°rio nehuma coluna ser√° preenchida.

### üîπ Unsigned

Essa constraint √© usada para definir que uma coluna s√≥ pode armazenar valores positivos. Ela √© comumente usada em colunas num√©ricas, como INT ou BIGINT.

In [ ]:
CREATE TABLE pessoas (
    ID int UNSIGNED,           # O registro n√£o ser√° inserido na tabela caso o id do registro seja negativo.
    nome varchar(30) NOT NULL,
    idade int UNSIGNED
);

### üîπ Auto_increment

Essa constraint √© usada para definir uma coluna como auto-increment√°vel, ou seja, um valor ser√° automaticamente incrementado sempre que uma nova linha for inserida na tabela. √â comumente usado para criar campos com valores √∫nicos e incrementais, como ID's.

In [ ]:
CREATE TABLE pessoas (
    ID int AUTO_INCREMENT,     
    nome VARCHAR(30) NOT NULL,
    PRIMARY KEY (ID)
);

---

Quando formos adicionar um registro na tabela, podemos colocar no campo onde seria o valor do ID, o comando DEFAULT para que o valor do ID seja preenchido de forma automatica. Por exemplo:

In [ ]:
INSERT INTO pessoas VALUES
(DEFAULT, 'Huan')

### üîπ Foreing key

Essa constraint define uma coluna ou conjunto de colunas como uma chave estrangeira, que faz refer√™ncia a uma chave prim√°ria em outra tabela. Isso garante a integridade referencial entre tabelas. Por exemplo, se voc√™ quiser garantir que uma coluna "id_pessoa" na tabela "endereco" seja uma chave estrangeira que se refere a uma coluna "ID" na tabela "pessoas", voc√™ pode usar a constraint FOREIGN KEY.

In [ ]:
CREATE TABLE endereco (
    id_endereco int PRIMARY KEY,
    id_pessoa int,
    rua VARCHAR(30) NOT NULL,
    FOREIGN KEY (id_pessoa) REFERENCES pessoas(ID)
);

## ‚ú¥Ô∏è If not exists

# üí† Alter table

O comando **ALTER TABLE** √© usado para alterar a estrutura de uma tabela existente no banco de dados. Ele pode ser usado para adicionar ou remover colunas, alterar o tipo de dado das colunas, adicionar ou remover √≠ndices e modificar outras propriedades da tabela. Por isso ele precisa de uma a√ß√£o espec√≠fica a ser realizada na tabela. Ele n√£o pode ser usado sozinho, sem uma a√ß√£o espec√≠fica. Abaixo voc√™ pode encontrar algumas cl√°usulas utilizadas para epecificar qual a√ß√£o o comando **ALTER TABLE** deve executar.

## ‚ú¥Ô∏è Add column

A cl√°usula **ADD COLUMN** √© utilizada junto com o comando **ALTER TABLE** para adicionar uma nova coluna em uma tabela. Veja o exemplo.

In [ ]:
ALTER TABLE pessoas                # Alterar a tabela pessoas
ADD COLUMN profissao VARCHAR(10);  # Adcionando uma coluna chamada profiss√£o que possui o tipo de dado varchar(10)

Quando adicionamos uma nova coluna em uma tabela que j√° tem registros, vamos notar que esses registros ter√£o o valor nulo na coluna que acabou de ser adicionada. Vale lembrar que esse c√≥digo sempre vai adicionar a coluna no final da tabela, ou seja, ela vai ser a utlima coluna da tabela.

## ‚ú¥Ô∏è After

A cl√°usula **AFTER** √© utilizada junto com a cl√°usula **ADD COLUMN** e o comando **ALTER TABLE** para adicionar uma nova coluna ap√≥s outra coluna. Veja o exemplo.

In [ ]:
ALTER TABLE pessoas
ADD COLUMN profissao VARCHAR(10) AFTER nome; # Adicionando a coluna 'profissao' ap√≥s a coluna 'nome'

## ‚ú¥Ô∏è First

A cl√°usula **FIRST** nos ajuda a adicionar uma coluna na primeira posi√ß√£o, ou seja, a coluna adicionada ser√° a primeria da tabela.

In [ ]:
ALTER TABLE pessoas
ADD COLUMN profissao VARCHAR(10) FIRST; # Adicionando a coluna 'profissao' na primeira posi√ß√£o

## ‚ú¥Ô∏è Drop column

A cl√°usula **DROP COLUMN** √© utilizada junto com o comando **ALTER TABLE** para excluir uma coluna da tabela. A coluna deve ser especificada ap√≥s a cl√°usula.

In [ ]:
ALTER TABLE pessoas
DROP COLUMN profissao;  # Excluindo a coluna profissao da tabela pessoas

## ‚ú¥Ô∏è Modify column

A cl√°usula **MODIFY** junto com o comando **ALTER TABLE** nos permite mudar o tipo de dado de uma coluna e suas constraints.

In [ ]:
ALTER TABLE pessoas       # Alterar a tabela pessoas
MODIFY nome VARCHAR(20);  # Modificando o tipo de dado da coluna 'nome' para 'varchar(20)'

√â importante lembrar que essa opera√ß√£o pode causar problemas de compatibilidade ou perda de dados se a coluna j√° contiver dados e o tamanho da coluna for reduzido, portanto √© importante ter uma c√≥pia de seguran√ßa antes de executar essa opera√ß√£o

 ---

Podemos adicionar ou alterar as constraints de uma coluna.

In [ ]:
ALTER TABLE pessoas
MODIFY nome NOT NULL UNIQUE; # Modificando a coluna 'nome' para que ela n√£o receba mais valores nulos
                             # e s√≥ receba valores unicos

## ‚ú¥Ô∏è Change column

O comando **CHANGE** √© espec√≠fico para o **MySQL** e n√£o √© parte do **SQL** padr√£o. Ele √© utilizado junto com o comando **ALTER TABLE** para mudar o nome de uma coluna existente e/ou para alterar seu tipo e defini√ß√µes. Sua principal fun√ß√£o √© mudar o nome de uma coluna, pois as outras fun√ß√µes a cl√°usula **MODIFY** j√° faz.

Esse comando necessita que voc√™ informe o nome antigo da coluna e o nome novo. Al√©m disso, voc√™ precisa informar qual √© o tipo de dado e as defini√ß√µes da coluna que voc√™ est√° renomenado. √â como se voc√™ estivesse substuindo a coluna antiga por uma nova que possui o nome atualizado, no entanto o tipo de dado e as defini√ß√µes s√£o as mesmas. Veja o exemplo.

In [ ]:
CREATE TABLE clientes (
    id_cliente int,
    nome varchar(20) NOT NULL,
    sexo char(1),
    estado varchar(30)
);


ALTER TABLE clientes
CHANGE nome nome_cliente varchar(20) NOT NULL; # Renomeando a coluna 'nome' para 'nome_cliente'
                                               # e mantedo o tipo de dado e as defini√ß√µes.

---

Podemos usar a cl√°usula **AFTER** ou **FIRST** junto com o comando **CHANGE** e **ALTER TABLE** para renomear uma coluna e ao mesmo tempo reordena-la.

In [ ]:
ALTER TABLE 
    clientes
CHANGE 
    nome 
    nome_cliente 
    varchar(20) 
    NOT NULL 
AFTER 
    estado; 

# Renomeando a coluna 'nome' para 'nome_cliente e mantedo o tipo de dado e as defini√ß√µes.
# E tamb√©m nessa mesma opera√ß√£o estamos realocando a coluna 'nome_cliente' para ficar ap√≥s a coluna estado.

## ‚ú¥Ô∏è Rename to

O **RENAME TO** √© um comando que pode ser utilizado junto com o comando **ALTER TABLE** para renomear uma tabela.

In [ ]:
ALTER TABLE pessoas
RENAME TO garfanhotos;  # Renomeando a tabela pessoas para garfanhotos

---

O comando **RENAME TO** pode ser usado sem o camando **ALTER TABLE** para renomear uma coluna. Veja o exemplo.

In [ ]:
RENAME TABLE pessoas TO garfanhotos

## ‚ú¥Ô∏è Add primary key

A cl√°usula **ADD PRIMARY KEY** √© utilizada junto com o comando **ALTER TABLE** com o intuito criar uma chave prim√°ria para uma tabela j√° existente. Suponha que voc√™ tenha criado uma tabela e tenha se esquecido de criar a chave prim√°ria ou sua tabela n√£o possui uma chave prim√°ria por algum motivo. Voc√™ pode usar essa cl√°usula para poder a partir de uma coluna da tabela criar a chave prim√°ria.

In [ ]:
ALTER TABLE pessoas
ADD PRIMARY KEY (idpessoa);

# üí† Drop table

O comando **DROP TABLE** √© utilizado para excluir uma tabela de uma base de dados no MySQL. Ele √© composto pelas palavras-chave "DROP" e "TABLE" e √© seguido pelo nome da tabela que deseja excluir. Ele funciona deletando permanentemente a tabela e todos os dados nela contidos, portanto, √© importante usar com cuidado

In [ ]:
DROP TABLE pessoas;  # Excluindo a tabela pessoas

## ‚ú¥Ô∏è If exists

**IF EXISTS** √© uma cl√°usula que √© usada em alguns comandos SQL para indicar que a opera√ß√£o deve ser realizada apenas se o objeto especificado existir.

In [ ]:
DROP TABLE IF EXISTS pessoas;  # Exclui a coluna pessoas s√≥ se ela existir, n√£o faz sentido, mas ta ai