# üí† Introdu√ß√£o

Os comandos DML (Data Manipulation Language) s√£o utilizados para manipular dados em uma base de dados. Eles incluem: 

- INSERT
- UPDATE
- DELETE
- TRUNCATE
- SELECT
- outros

Esses comandos permitem ao usu√°rio recuperar, adicionar, atualizar e excluir dados em uma tabela espec√≠fica. Eles s√£o utilizados para gerenciar os dados dentro das tabelas e n√£o modificam a estrutura da tabela ou banco de dados.

# üí† Insert into

O **INSERT INTO** √© um comando utilizado para inserir novos dados em uma tabela existente. Ele √© composto por dois elementos: a palavra-chave **INSERT INTO** seguida do nome da tabela onde os dados ser√£o inseridos e, entre par√™nteses, a lista de colunas nas quais os dados ser√£o inseridos.

In [ ]:
INSERT INTO pessoas (idpessoa, nome, data_nascimento, sexo)  # Aqui est√° um exemplo do que o texto acima explicou

Esse c√≥digo est√° incompleto e por isso n√£o funcionaria se voc√™ tentasse executar ele. Abaixo se encontram as cl√°usulas que completam esse c√≥digo, fazendo assim, com que ele seja execut√°vel.

## ‚ú¥Ô∏è Values

A cl√°usula **VALUES** serve para indicar ao comando **INSERT INTO** quais valores devem ser adicionados nas colunas da tabela.

In [ ]:
INSERT INTO pessoas (idpessoa, nome, data_nasscimento, sexo)  # Iserir na tabela pessoas e nas respectivas colunas
VALUES (1, 'Natalia', '2004-01-10', 'F');                     # O conjunto valores a seguir

 ---

Tamb√©m podemos inserir valores sem precisar especificar as colunas, contudo, os valores devem ser inseridos na mesma ordem que as colunas est√£o na tabela.

In [ ]:
INSERT INTO pessoas                          # Iserir na tabela pessoas
VALUES (1, 'Natalia', '2004-01-10', 'F');    # O conjunto de valores a seguir

---

Existe tamb√©m a possibilidade de inserirmos um registro (linha) na tabela, mas sem preencher todas as colunas. Para isso √© obrigatorio que as colunas que ser√£o preenchidas sejam especificadas.

In [ ]:
INSERT INTO pessoas (nome, sexo)  # Inserir na tabelas pessoas e nas respectivas colunas
VALUES ('Natalia', 'F');          # O conjunto de valores a seguir
                                  # Dessa forma, as outras colunas ser√£o preenchidas com valores nulos.
                                  # Se essas colunas n√£o puderem receber valores nulos o comando retorna um erro

---

Seguindo as regras que aprendemos acima, vamos inserir mais de uma registro (linha) na tabela. O que muda nessa sintaxe √© que agora devemos separa cada registro por virgula.

In [ ]:
INSERT INTO 
    pessoas (idpessoa, nome, data_nasscimento, sexo)   # Inserir na tabela pessoas 
VALUES                                                 # Os conjuntos de valores a seguir
    (1, 'Natalia', '2004-01-10', 'F'),
    (2, 'Huan', '2004-07-13', 'M'),
    (3, 'Ana', '2026-01-13', 'F');

# üí† Update

O comando `UPDATE` √© utilizado junto com as cl√°usulas `SET` e `WHERE` para atualizar o(s) valor(es) de um registro da tabela.

- O comando `UPDATE` indica que algo ser√° atualizado, no caso uma tabela.
- A cl√°sula `SET` serve para informar em qual(is) coluna(s) o(s) valor(es) que ser√°(m) atualizado(s) se encontra(m) e qual ser√° o valor novo.
- A cl√°sula `WHERE` indica, com base em uma coluna da tabela, qual linha ser√° atualizada. Dependendo da coluna utilizada como refer√™ncia uma ou mais linhas podem ser atualizadas.

In [ ]:
UPDATE pessoas        # A tabela pessoas ser√° atualizada 
SET nome = 'Huan'     # O valor que ser√° atualizado se encontra na coluna 'nome' e seu novo valor ser√° 'Huan'
WHERE idpessoa = 10;  # A linha onde esse valor se encontra possui na coluna idpessoa o valor 10

Assim, esse c√≥digo est√° buscando na tabela **pessoas** a linha onde a coluna **idcurso** √© igual a **10** e atualizando o valor que se encontra na coluna **nome** para **Huan**. √â importante lembrar que, se houver mais de uma linha que atenda a condi√ß√£o especificada, todas essas linhas ser√£o atualizadas.

---

√â possivel alterar dois ou mais valores da tabela que se encontram em colunas diferentes. Para isso basta informar √° cl√°usula `SET` quais s√£o as colunas e quais s√£o os valores novos.

In [ ]:
UPDATE pessoas
SET nome = 'Huan', idade = 19
WHERE idpessoa = '10';

Esse c√≥digo segue o mesmo raciocinio do codigo anterior, no entanto, perceba que para atualizar mais de 2 valores ao mesmo tempo √© neces√°rio especificar o nome da coluna onde cada valor se encontra e o valor novo para cada campo. E devemos separar os campos pela virgula. Como a coluna idpessoa geralmente possui valores unicos s√≥ um registro ter√° seus campos autalizados.

## ‚ú¥Ô∏è Limit

A cl√°usula `LIMIT` serve para limitar o n√∫mero de linhas que ser√£o afetadas pelo comando `UPDATE`. Esse comando se faz muito necess√°rio quando queremos atualizar mais de um registro na tebela com seguran√ßa.

In [ ]:
UPDATE pessoas       # Atualizar a tabela pessoas
SET titulo = 'velho' # Os valores que ser√£o atualizados se encontram na coluna 'titulo' e novo valor ser√° 'velho'
WHERE idade > 60     # As linhas onde esses valores se encontram possui na coluna idade o valor > 60
LIMIT 100;           # De todos os valores que se encontram nas posi√ß√µes descritas acima, atualize somente 100

O comando para alterar mais de um valor segue a mesma l√≥gica, no entanto, quando fazemos uma opera√ß√£o de grande escala existe a possibilidade de outras linhas, al√©m da que n√≥s especificamos, sejam alteradas e isso n√£o √© bom. Para contornar esse problema n√≥s podemos utilizar o comando `LIMIT`. O comando `LIMIT` geralmente √© usado em conjunto com a cl√°usula `SELECT` para limitar o n√∫mero de linhas retornadas por uma consulta. No entanto, ele tamb√©m pode ser usado com o comando `UPDATE` para limitar o n√∫mero de registros que ser√£o atualizados.

# üí† Delete

O comando `DELETE` √© utilizado junto com a cl√°usula `FROM` para deletar registros de uma tabela. O `DELETE` apaga e o `FROM` indica de qual tabela.

In [ ]:
DELETE FROM pessoas  # Delete da tabela pessoas

Esse comando est√° incompleto, ele ainda precisa da cl√°usula `WHERE` para funcionar.

## ‚ú¥Ô∏è Where

a cl√°usula `WHERE` indica em qual(is) linha(s) o(s) resgistro(s) a ser(em) deletado(s) se encontra(m).

In [ ]:
DELETE FROM pessoas  # Deletar da tabela pessoas
WHERE idpessoa = 1;  # O registro que possui o 'idpessoa = 1'

---

Deletando mais de um registro. Para isso √© necess√°rio informar ao `WHERE` uma coluna que n√£o tenha valores unicos e nem seja `PRIMARY KEY`.

In [ ]:
DELETE FROM pessoas  # Deletar da tabela pessoas
WHERE sexo = 'M';    # O registro que possui na coluna sexo o valor 'M'

---

Tamb√©m podemo usar a cl√°usula **LIMIT**, para especificar quantas linhas devem ser excluidas.

In [ ]:
DELETE FROM pessoas  # Deletar da tabela pessoas
WHERE sexo = 'M'     # O registro que possui na coluna sexo o valor 'M'
LIMIT 100;           # Deletar somente 100 registros

# üí† Truncate

O comando `TRUNCATE` serve para excluir todas as linhas da tabela.

In [ ]:
TRUNCATE pessoas;

Tome cuidado ao usar esse comando.

# üí† Select

O `SELECT` √© um comando SQL que √© usado para selecionar dados de uma tabela ou v√°rias tabelas. Ele √© geralmente usado para selecionar colunas espec√≠ficas de uma tabela, filtrar linhas com base em condi√ß√µes espec√≠ficas e ordenar o resultado.

In [ ]:
SELECT nome, idade  # Selecione as colunas 'nome' e 'idade'
FROM pessoas;       # da tabela pessoas

## ‚ú¥Ô∏è From

A cl√°usula `FROM` √© utilizada juntamente com o comando `SELECT` para informar de qual tabela as colunas ser√£o selecionadas.

## ‚ú¥Ô∏è *

O `*` √© um caractere curinga, ou operador curinga, que √© usado em consultas SQL para selecionar todas as colunas de uma tabela. Ele √© usado como um atalho para selecionar todas as colunas de uma tabela ao inv√©s de digitar o nome de cada coluna individualmente.

In [ ]:
SELECT *        # Selecione todas as colunas
FROM pessoas;   # da tabela pessoas

## ‚ú¥Ô∏è Where

O `WHERE` √© uma cl√°usula utilizada com o comando `SELECT` para especificar quais registros (***linhas***) devem ser selecionados. Ele √© usado para filtrar os resultados de uma consulta, de forma que somente os registros que atendem a determinadas condi√ß√µes s√£o retornados.

In [ ]:
SELECT *          # Selecione todas as colunas 
FROM pessoas      # da tabela pessoas
WHERE idade < 20; # Somente os registros que possuirem na coluna/campo idade o valor menor que 20

## ‚ú¥Ô∏è Operadores

### üåæ =

O operador de igualdade √© usado para comparar se o valor de uma coluna ou express√£o √© igual a um determinado valor. Ele √© representado pelo s√≠mbolo `=`. Quando utilizado na cl√°usula `WHERE` de um comando `SELECT`, ele permite selecionar somente as linhas que atendem a uma determinada condi√ß√£o.

In [ ]:
SELECT *          # Selecione dodas as colunas 
FROM pessoas      # da tabela pessoas 
WHERE idade = 10; # Somente os resgistros que possuem, no campo idade, o valor iagual a 10

### üåæ < e >

O operador `>` (maior que) compara se o valor de uma coluna ou express√£o √© maior que um determinado valor. J√° o operador `<` (menor que) compara se o valor de uma coluna ou express√£o √© menor que um determinado valor.

In [ ]:
SELECT *          # Selecione dodas as colunas 
FROM pessoas      # da tabela pessoas 
WHERE idade > 10; # Somente os resgistros que possuem, no campo idade, o valor maior que 10

# Ou

SELECT *          # Selecione dodas as colunas 
FROM pessoas      # da tabela pessoas 
WHERE idade < 10; # Somente os resgistros que possuem, no campo idade, o valor menor que 10

### üåæ <= e >=

O operador `>=` (maior ou igual) compara se o valor de uma coluna ou express√£o √© maior ou igual a um determinado valor. O operador `<=` (menor ou igual) compara se o valor de uma coluna ou express√£o √© menor ou igual a um determinado valor.

In [ ]:
SELECT *           # Selecione dodas as colunas 
FROM pessoas       # da tabela pessoas 
WHERE idade >= 10; # Somente os resgistros que possuem, no campo idade, o valor maior ou igual a 10

# Ou

SELECT *           # Selecione dodas as colunas 
FROM pessoas       # da tabela pessoas 
WHERE idade <= 10; # Somente os resgistros que possuem, no campo idade, o valor menor ou igual a 10

### üåæ !=

O operador `!=` (diferente) compara se o valor de uma coluna ou express√£o √© diferente de um determinado valor.

In [ ]:
SELECT *           # Selecione dodas as colunas 
FROM pessoas       # da tabela pessoas 
WHERE idade != 10; # Somente os resgistros que possuem, no campo idade, o valor diferente de 10

### üåæ Not

O operador `NOT` nega uma condi√ß√£o. Ou seja, ele retorna o contr√°rio do que uma condi√ß√£o pede.

In [ ]:
SELECT *               # Selecione dodas as colunas 
FROM pessoas           # da tabela pessoas 
WHERE NOT idade > 10;  # Somente os resgistros que n√£o possuem, no campo idade, um valor maior que 10

### üåæ And

O operador `AND` √© usado para combinar express√µes l√≥gicas e retornar somente resultados que atendam a ambas as condi√ß√µes. Ele √© utilizado no comando SQL junto com a cl√°usula `WHERE`.

In [ ]:
SELECT *               # Selecione dodas as colunas 
FROM pessoas           # da tabela pessoas 
WHERE 
    idade <= 30        # Somente os resgistros que possuem, no campo idade, um valor que menor ou igual a 30
    AND                # e
    sexo = 'M';        # que possuem, no campo sexo, o valor igual a 'M'

### üåæ Or

O operador `OR` √© similar ao operador `AND`, mas em vez de retornar somente os resultados que atendem a ambas as condi√ß√µes, ele retorna os resultados que atendem a pelo menos uma das condi√ß√µes. Ele √© utilizado no comando SQL junto com a cl√°usula `WHERE`.

In [ ]:
SELECT *               # Selecione dodas as colunas 
FROM pessoas           # da tabela pessoas 
WHERE 
    idade <= 30        # Somente os resgistros que possuem, no campo idade, um valor que menor ou igual a 30
    AND                # ou
    sexo = 'M';        # que possuem, no campo sexo, o valor igual a 'M'

### üåæ Between ... And...

O operador `BETWEEN ... AND ...` √© usado para selecionar valores dentro de um intervalo espec√≠fico. Ele √© composto por dois valores, o valor inicial e o valor final, separados pelo operador AND.

In [ ]:
SELECT *                       # Selecione dodas as colunas 
FROM pessoas                   # da tabela pessoas 
WHERE idade BETWEEN 10 AND 20; # Somente os resgistros que possuem, no campo idade, um valor que est√° entre 10 e 20

---

Usando o `NOT` com o `BETWENN AND`.

In [ ]:
SELECT *                           # Selecione dodas as colunas 
FROM pessoas                       # da tabela pessoas 
WHERE NOT idade BETWEEN 10 AND 20; # Somente os resgistros que n√£o possuem, no campo idade, um valor que est√° 
                                   # entre 10 e 20

### üåæ In

O operador `IN (...)` √© usado para especificar uma lista de valores que se deseja selecionar. Enquanto o `BETWEEN ... AND ...` seleciona uma faixa de valores, o `IN` seleciona valores especificos.

In [ ]:
SELECT *                           # Selecione dodas as colunas 
FROM pessoas                       # da tabela pessoas 
WHERE idade IN (10, 50, 75);       # Somente os resgistros que possuem, no campo idade, um valor que √©
                                   # igual a 10 ou 50 ou 75

### üåæ Like

O operador `LIKE` √© usado para pesquisar valores com base em um padr√£o espec√≠fico. Ele usa caracteres curinga (como `%` e `_`) para representar qualquer caractere ou qualquer conjunto de caracteres. Por exemplo, voc√™ pode usar o operador `LIKE` para procurar por todos os registros na tabela que contenham uma string espec√≠fica no campo nome, ou para procurar por todos os registros que come√ßam com uma determinada string no campo profiss√£o.

Veja um exemplo de como selecionar todos os registros que possuam a letra `a` no nome.

In [2]:
SELECT * FROM pessoas   # Selecione todas as colunas da tabela pessoas
WHERE name LIKE '%a%';  # Somente os registros que possuem a letra no nome

---

Agora vamos selecionar somente os registros que possuem uma profis√£o que come√ßa com a letra `c`.

In [ ]:
SELECT * FROM pessoas       # Selecione todas as colunas da tabela pessoas
WHERE profissao LIKE 'c%';  # Somente os registros que possui uma profis√£o que come√ßa com a letra c

# Para selecionar somente os registros que possui uma prossis√£o que termina com a letra c
# basta colocar a letra c ap√≥s a porcentagem.

---

Agora vamos selecionar somente os registros que possuem uma profis√£o que come√ßa com a letra `c` e termina com a letra `a`.

In [ ]:
SELECT * FROM pessoas        # Selecione todas as colunas da tabela pessoas
WHERE profissao LIKE 'c%a';  # Somente os registros que possui uma profis√£o que come√ßa com a letra 'c' e termina com a letra 'a'

---

Enquanto o caractere curinga `%` serve para representar nenhum caractere, apenas 1 caractere ou um conjunto de caracteres ao mesmo tempo, o caractere curinga `_` serve para representar apenas 1 caractere. Por exemplo, se voc√™ quiser selecionar todas os registros que possuam na coluna `profissao` uma palavra com cinco letras e comece com `b`, voc√™ pode usar o seguinte c√≥digo:

In [ ]:
SELECT * FROM tabela 
WHERE profissao LIKE 'b____';

### üåæ All e Any

O operador `ALL` √© usado em consultas SQL para comparar uma express√£o com todos os valores retornados por uma subconsulta. A subconsulta deve retornar uma ou mais linhas de resultados para que o operador `ALL` seja √∫til. O operador `ALL` compara a express√£o √† esquerda com cada valor retornado pela subconsulta e retorna true se a condi√ß√£o for verdadeira para todos os valores da subconsulta. Se qualquer compara√ß√£o falhar, a condi√ß√£o inteira ser√° falsa e consequentemente o registro n√£o ser√° retornado.

Por exemplo, suponha que voc√™ queira saber qual cliente possui uma altura maior que a media de altura dos clientes de SP, PR e RJ. Para resolver esse problema voc√™ pode usar o `ALL`.

In [ ]:
SELECT * 

FROM clientes
WHERE altura > ALL (SELECT AVG(altura) FROM clientes GROUP BY estado);

 ---

J√° o operador `ANY` (tamb√©m conhecido como `SOME`) √© usado para comparar um valor com uma lista de valores resultante de uma subconsulta. Ele retorna verdadeiro se o valor corresponder a qualquer um dos valores da lista.

Por exemplo, suponha que voc√™ queira saber quais dos seus clientes moram em qualquer um dos estados do norte.

In [ ]:
SELECT * 

FROM clientes
WHERE cliente_estado = ANY (SELECT DISTINCT cliente_estado FROM clientes WHERE regiao = 'norte');

## ‚ú¥Ô∏è Order by

`ORDER BY` √© uma cl√°usula SQL que √© usada para classificar os resultados de uma consulta `SELECT`. Ele √© geralmente usado para ordenar os resultados em ordem crescente ou decrescente com base em uma ou mais colunas espec√≠ficas. Por padr√£o ele ordena o resultado por ordem crescente.

In [ ]:
SELECT nome, sexo, peso, altura  # Selecionar as colunas 'nome', 'sexo', 'peso' e 'altura'
FROM pessoas                     # da tabela pessoas
ORDER BY nome;                   # ordene o resultado de forma crescente com base na coluna nome

---

Para ordenar o resultado da consulta por ordem decrescente √© necess√°rio adicionar ao script a palavra `DESC`, que significa decrescente.

In [ ]:
SELECT nome, sexo, peso, altura  # Selecionar as colunas 'nome', 'sexo', 'peso' e 'altura'
FROM pessoas                     # da tabela pessoas
ORDER BY nome DESC;              # ordene o resultado de forma decrescente com base na coluna nome

---

Tamb√©m podemos ordenar o resultado de uma consulta utilizando mais de uma coluna. A l√≥gica √©, primeiro organizamos o resultado da consulta de forma crescente ou decrescente (`ASC` ou `DESC`) com base em uma coluna, por exemplo a coluna **nome**. Depois, todos os registros que possuem o mesmo valor na coluna **nome** ser√£o organizados de forma crescente ou decrescente (`ASC` ou `DESC`) com base em uma outra coluna, por exemplo a coluna **altura**.

In [ ]:
SELECT *                        # Selecione todas as colunas
FROM pessoas                    # da tabela pessoas.
ORDER BY nome DESC, altura ASC; # Ordene o resultado da consulta de forma decrescente com base na coluna 'nome'
                                # Agora todos os registro que possuem o mesmo valor na coluna'nome' devem 
                                # ser organizados de forma crescente com base na coluna 'altura'

---

Outra possibilidade √© utilizar a cl√°usula `ORDER BY` juntamente com a cl√°usula `WHERE`. Ou seja, podemos selecionar apenas registros que atendem a uma condi√ß√£o e ordenar esse registros.

In [ ]:
SELECT *                   # Selecione todas as colunas
FROM pessoas               # da tabela pessoas
WHERE idade > 20           # Somente os registros que possuirem na coluna idade o valor maior que 20
ORDER BY nome DESC;        # Ordene o resultado da consulta de forma decrescente com base na coluna 'nome'

# Ou

SELECT nome, altura, idade  # Seleciona as colunas 'nome', 'altura' e 'idade'
FROM pesssoas               # da  tabela pessos
WHERE altura < 1.75         # Somente os registros que possuirem na coluna altura o valor menor que 1.75
ORDER BY nome, idade ASC;   # Agora todos os registro que possuem o mesmo valor na coluna'nome' devem 
                            # ser organizados de forma crescente com base na coluna 'idade'

## ‚ú¥Ô∏è Limit

A cl√°usula `LIMIT` √© usada para limitar o n√∫mero de linhas retornadas por um comando `SELECT`. Ela √© comumente usada para paginamento de resultados, para evitar carregar uma grande quantidade de dados na mem√≥ria ou para retornar apenas um conjunto espec√≠fico de resultados.

In [ ]:
SELECT nome, altura, idade  # Seleciona as colunas 'nome', 'altura' e 'idade'
FROM pesssoas               # da  tabela pessos
WHERE altura <= 1.75        # Somente os registros que possuirem na coluna altura o valor menor ou igual a 1.75
ORDER BY nome, idade ASC    # Agora todos os registro que possuem o mesmo valor na coluna'nome' devem 
                            # ser organizados de forma crescente com base na coluna 'idade'
LIMIT 10;                   # De todos os registros, retorne somente 10

## ‚ú¥Ô∏è Distintc

A cl√°usula `DISTINCT` √© usada para remover de um resultado de consulta os registros que possuam o mesmo valor em uma determinada coluna. Por exemplo, suponha que voc√™ tenha uma tabela que guarda o nome, a idade, a profiss√£o e o pa√≠s de origem de v√°rias pessoas. E algumas pessoas moram no mesmo pa√≠s ou possuem a mesma idade ou exercem a mesma profiss√£o. E o seu objetivo √© saber quais s√£o os pa√≠ses contidos na sua tabela. Para fazer isso podemos usar o comando `SELECT` junto com a cl√°usula `DISTINCT` para que o resultado da nossa consulta n√£o possua valores duplicados.

In [ ]:
SELECT DISTINCT pais FROM pessoas; # Selecione os registros da tabela pessoas com base na coluna pais, sem que esses registros
                                   # possuam na coluna pais valores iguais

## ‚ú¥Ô∏è Fun√ß√µes de agrega√ß√£o

### üåæ Count

`COUNT` √© uma fun√ß√£o que retorna o n√∫mero de linhas em uma tabela ou o n√∫mero de linhas que correspondem a uma condi√ß√£o em uma consulta. √â amplamente utilizado em consultas SQL para obter o n√∫mero de ocorr√™ncias de uma coluna espec√≠fica. Caso a coluna possua valores nulos, eles n√£o ser√£o contabilizados.

Descobrindo o numero de registros retornados por uma consulta.

In [ ]:
SELECT COUNT(*) FROM pessoas 
WHERE idade > 80;

---

O `COUNT` tamb√©m serve para descobrindo o numero de valores, que n√£o s√£o nulos, de uma coluna.

In [ ]:
SELECT COUNT(nome) FROM pessoas;  # Retorna quantos numeros

### üåæ Max e Min

A fun√ß√£o `MAX` serve para descobrir qual √© o maior valor de uma coluna. Enquanto a fun√ß√£o `MIN` faz o cintr√°rio.

In [ ]:
SELECT MAX(idade) FROM pessoas;  # Selecione da coluna idade o maior valor.

SELECT MIN(idade) FROM pessoas;  # Selecione da coluna idade o menor valor.

### üåæ Sum

O `SUM` √© uma fun√ß√£o que serve para somar todos os valores de uma determinada coluna.

In [ ]:
SELECT SUM(peso) FROM pessoas; # Soma o peso de todas as pessoas juntas

### üåæ Avg

`AVG` √© uma fun√ß√£o utilizada para calcular a m√©dia dos valores de uma coluna.

In [ ]:
SELECT AVG(idade) FROM pessoas; # Calcula a m√©dia de idade das pessoas registradas na tabela

## ‚ú¥Ô∏è Group by

O comando `GROUP BY` √© utilizado para agrupar os dados de uma tabela com base nos valores de uma ou mais colunas. Basicamente, ele agrupa as linhas da tabela que possuem valores iguais na(s) coluna(s) escolhida(s), e ent√£o permite que voc√™ fa√ßa opera√ß√µes agregadas nos grupos, como contar quantas linhas h√° em cada grupo, somar os valores de uma coluna num√©rica, calcular a m√©dia, entre outros.

Por exemplo, suponha que temos uma tabela de vendas com as seguintes colunas: ID, Data, Produto, Pre√ßo e Quantidade. Se quisermos saber o total vendido de cada produto, podemos utilizar o comando `GROUP BY` na coluna "Produto" e em seguida aplicar a fun√ß√£o de agrega√ß√£o SUM na coluna "Pre√ßo".

O c√≥digo ficaria assim:

In [ ]:
SELECT Produto, SUM(Preco)
FROM vendas
GROUP BY Produto;

## ‚ú¥Ô∏è Having

O `HAVING` √© uma cl√°usula que √© usada em conjunto com a cl√°usula `GROUP BY` para filtrar os resultados de uma consulta de acordo com alguma condi√ß√£o que deve ser satisfeita pelas fun√ß√µes de agrega√ß√£o (como SUM, COUNT, AVG, MAX, MIN) aplicadas aos grupos formados pelo `GROUP BY`.

A cl√°usula `HAVING` √© usada para filtrar grupos, enquanto a cl√°usula `WHERE` √© usada para filtrar linhas individuais. Isso significa que as condi√ß√µes especificadas em uma cl√°usula `HAVING` s√£o aplicadas aos grupos como um todo, e n√£o a linhas individuais.

Por exemplo, se tivermos uma tabela de vendas com informa√ß√µes sobre o valor total de vendas por m√™s e por vendedor, poder√≠amos usar a cl√°usula `HAVING` para filtrar os vendedores que tiveram um total de vendas superior a um determinado valor:

In [ ]:
SELECT vendedor, SUM(valor_vendas) as total_vendas
FROM vendas
GROUP BY vendedor
HAVING total_vendas > 10000;

√â importante lembrar que a cl√°usula `HAVING` s√≥ pode ser usada em conjunto com a cl√°usula `GROUP BY`, e que as condi√ß√µes especificadas em uma cl√°usula `HAVING` devem se referir a fun√ß√µes de agrega√ß√£o e n√£o a colunas individuais.

## ‚ú¥Ô∏è Inner join

O `INNER JOIN` √© um comando utilizado em SQL para unir duas ou mais tabelas relacionadas entre si, usando uma condi√ß√£o de jun√ß√£o especificada na cl√°usula `ON`. A principal fun√ß√£o do `INNER JOIN` √© combinar as linhas das tabelas de tal forma que apenas as linhas que possuem valores correspondentes nas duas tabelas sejam retornadas como resultado. Ou seja, ele s√≥ retorna os registros que possuem valores comuns nas colunas que est√£o sendo relacionadas.

Por exemplo, suponha que temos duas tabelas: "clientes" e "pedidos". Se quisermos saber quais clientes t√™m pedidos, podemos usar `INNER JOIN` para combinar as duas tabelas, usando a coluna "id_cliente" em ambas como a condi√ß√£o de jun√ß√£o. Isso retornar√° apenas as linhas que cont√™m valores correspondentes nas duas tabelas.

In [ ]:
SELECT  t1.nome_cliente,
        t2.id_pedido

FROM clientes AS t1
INNER JOIN pedidos AS t2
ON t1.id_cliente = t2.id_cliente;

## ‚ú¥Ô∏è Left join

O `LEFT JOIN` combina as linhas de duas tabelas com base em uma condi√ß√£o especificada, retornando todas as linhas da tabela √† esquerda (tabela base) e as correspondentes da tabela √† direita, quando houver. Se n√£o houver correspond√™ncia, os valores da tabela √† direita ser√£o nulos.

Por exemplo, suponha que voc√™ tenha duas tabelas, "pessoas" e "cursos", onde a tabela "pessoas" possui uma coluna "id_curso" que faz refer√™ncia √† coluna "idcurso" da tabela "cursos". Voc√™ pode usar o `LEFT JOIN` para obter uma lista de todos os gafanhotos e o curso correspondente (se houver) que eles est√£o fazendo.

In [ ]:
SELECT  t1.nome AS nome_pessoa, 
        t2.nome AS nome_curso

FROM pessoas AS t1
LEFT JOIN cursos AS t2 
ON t1.id_curso = t2.idcurso;

Neste exemplo, a tabela "pessoas" √© a tabela √† esquerda e a tabela "cursos" √© a tabela √† direita. A condi√ß√£o de jun√ß√£o √© definida pelo `ON` t1.id_curso = t2.idcurso. O resultado da consulta ser√° uma lista de todos os gafanhotos com o nome do curso correspondente, ou `NULL` se o gafanhoto n√£o estiver fazendo nenhum curso.

## ‚ú¥Ô∏è Right join

O `RIGHT JOIN` √© um comando de jun√ß√£o em SQL, assim como o `INNER JOIN` e o `LEFT JOIN`. Ele combina as linhas de duas tabelas com base em uma condi√ß√£o especificada e retorna todas as linhas da tabela da direita (a segunda tabela mencionada na cl√°usula `JOIN`) e as linhas correspondentes da tabela da esquerda (a primeira tabela mencionada na cl√°usula `JOIN`), ou `NULL` se n√£o houver correspond√™ncia.

Em outras palavras, o `RIGHT JOIN` retorna todas as linhas da tabela da direita e as linhas correspondentes da tabela da esquerda. Se n√£o houver correspond√™ncia na tabela da esquerda, ele preenche com `NULL`.

In [ ]:
SELECT  t1.nome AS nome_pessoa, 
        t2.nome AS nome_curso

FROM pessoas AS t1
RIGHT JOIN cursos AS t2 
ON t1.id_curso = t2.idcurso;

Nesse exemplo, a consulta retorna todas as linhas da t2 e as linhas correspondentes da t1 com base na condi√ß√£o de igualdade (t1.id_curso = t2.idcurso). Se n√£o houver correspond√™ncia na t1, as colunas correspondentes retornam `NUL`.

## ‚ú¥Ô∏è Case

O comando `CASE WHEN` √© uma estrutura condicional do SQL que permite que voc√™ execute uma a√ß√£o com base em uma ou mais condi√ß√µes. √â semelhante a um bloco de "if-else" em outras linguagens de programa√ß√£o. A express√£o `CASE` tem duas formas: `CASE simples` e `CASE pesquisado`.

Uma express√£o `CASE simples` possui a seguinte sintaxe:

In [ ]:
CASE value
    WHEN value1 THEN result1
    WHEN value2 THEN result2
    ...
    ELSE result_else
END

A express√£o `CASE simples` √© utilizada para comparar se o `value` √© igual a `value1`, `value2`, `value3`, etc. Se o `value` for igual ao `value1` ent√£o `result1` ser√° retornado, caso contr√°rio o `value` ser√° comparado com o `value2`. se `value` for igual ao `value2` ent√£o `result2` ser√° retornado. E assim por diante. Caso o `value` n√£o seje igual a nehum ent√£o `result_else` √© retornado.

 ---

Uma express√£o `CASE pesquisada` possui a seguinte sintaxe:

In [ ]:
CASE
    WHEN condi√ß√£o1 THEN resultado1
    WHEN condi√ß√£o2 THEN resultado2
    ...
    ELSE resultado_final
END

Aqui est√° uma explica√ß√£o de cada parte do comando:

`CASE`: inicia a estrutura condicional.<br>
`WHEN`: define uma condi√ß√£o. Se essa condi√ß√£o for verdadeira, a a√ß√£o correspondente ser√° executada.<br>
`THEN`: especifica a a√ß√£o a ser executada se a condi√ß√£o for verdadeira.<br>
`ELSE`: define a a√ß√£o a ser executada se nenhuma das condi√ß√µes anteriores for verdadeira.<br>
`END`: finaliza a estrutura condicional.<br>

## ‚ú¥Ô∏è With

O comando `WITH`, tamb√©m conhecido como "common table expression" (CTE), √© uma cl√°usula do SQL que permite definir uma consulta nomeada que pode ser referenciada posteriormente na mesma consulta principal ou em outras consultas.

Essa cl√°usula √© √∫til quando precisamos criar uma consulta que envolve v√°rias subconsultas, sendo que uma ou mais dessas subconsultas podem ser utilizadas em v√°rias partes da consulta principal.

Com o `WITH`, podemos definir uma consulta nomeada, atribuindo-lhe um alias e, em seguida, referenci√°-la como uma tabela em outras partes da consulta. Isso torna a consulta mais leg√≠vel e f√°cil de entender, al√©m de reduzir a complexidade do c√≥digo SQL.

Al√©m disso, o `WITH` tamb√©m permite aninhar subconsultas, criando uma estrutura hier√°rquica de consultas que pode ser mais f√°cil de entender do que consultas complexas com muitos JOINs.

Aqui est√° um exemplo basico da sintaxe do `WITH`:

In [ ]:
WITH nome_da_subconsulta AS (
    SELECT coluna_1, coluna_2, ...
    FROM tabela
    WHERE condi√ß√µes
)


SELECT *
FROM nome_da_subconsulta
WHERE condi√ß√µes_opcionais;

---

Aqui vai um exemplo de utiliza√ß√£o do `WITH` em uma consulta:

Suponha que temos duas tabelas no banco de dados: `employees` e `departments`. A tabela `employees` cont√©m informa√ß√µes sobre os funcion√°rios, enquanto a tabela `departments` cont√©m informa√ß√µes sobre os departamentos da empresa. Vamos criar uma consulta que retorna o n√∫mero de funcion√°rios em cada departamento, utilizando o WITH para criar uma subconsulta que calcula o n√∫mero de funcion√°rios em cada departamento:

In [ ]:
WITH employee_counts AS (
    SELECT department_id, COUNT(*) AS num_employees
    FROM employees
    GROUP BY department_id
)


SELECT  departments.department_name, 
        employee_counts.num_employees

FROM departments

LEFT JOIN employee_counts 
ON departments.department_id = employee_counts.department_id;

Nesse exemplo, a subconsulta criada pelo `WITH` √© nomeada como `employee_counts` e retorna o n√∫mero de funcion√°rios em cada departamento. Em seguida, a consulta principal se junta a essa subconsulta usando um `LEFT JOIN` para garantir que todos os departamentos sejam inclu√≠dos, mesmo que n√£o tenham nenhum funcion√°rio associado a eles. A consulta final retorna o nome do departamento e o n√∫mero de funcion√°rios associados a ele.

## ‚ú¥Ô∏è Union

O comando `UNION` e `UNION ALL` s√£o utilizados para combinar o resultado de duas ou mais consutas `SELECT` em uma √∫nica tabela virtual. A principal difer√™n√ßa entre eles √© que o `UNION` revome duplicatas, enquanto o `UNION ALL` n√£o. 

Por exemplo, suponha que temos duas tabelas chamadas `tabela1` e `tabela2` com a mesma estrutura de colunas, e queremos combinar os resultados de duas consultas SELECT que retorna dados deiferentes de cada tabela. Podemos fazer isso usando o `UNION`.

In [ ]:
SELECT coluna1, coluna2 
FROM tabela1

UNION

SELECT coluna1, coluna2 
FROM tabela2;

O comando `UNION` remover√° quaisquer registros duplicados nos resultados combinados, resultando em uma tabela virtual √∫nica que cont√©m os registros √∫nicos das duas tabelas. Se desejarmos manter duplicatas, usamos o comando `UNION ALL`:

In [ ]:
SELECT coluna1, coluna2 
FROM tabela1

UNION ALL

SELECT coluna1, coluna2 
FROM tabela2;

No exemplo acima, o `UNION ALL` incluir√° todos os registros das duas tabelas, independete de haverem registros duplicados nos resultados combinados.

√â importante lembrar que as duas consultas `SELECT` devem ter o mesmo n√∫mero de colunas e o mesmo tipo de dados para cada coluna correspondente para que o `UNION` ou o `UNION ALL` possa ser usado. Caso contr√°rio, uma mensagem de erro ser√° gerada.

Por fim, vale destacar que o uso do `UNION` e `UNION ALL` deve ser feito com cuidado, pois pode afetar negativamente o desempenho da consulta se a quantidade de dados for muito grande.

## ‚ú¥Ô∏è Fun√ß√µes para strings

## ‚ú¥Ô∏è Fun√ß√µes para numeros

### üåæ Round

### üåæ Rand

### üåæ Floor

## ‚ú¥Ô∏è Fun√ß√µes para datas

### üåæ Datediff

## ‚ú¥Ô∏è Fun√ß√µes avan√ßadas

### üåæ Coalesce

## ‚ú¥Ô∏è Window Functions

As Window Functions (Fun√ß√µes de janela) executam uma opera√ß√£o de agrega√ß√£o de linhas de uma consulta. No entanto, enquanto uma fun√ß√£o de agrega√ß√£o agrupa linhas de consulta em uma √∫nica linha de resultado uma fun√ß√£o de janela produz um resultado para cada linha de consulta:

- A linha para a qual ocorre a avalia√ß√£o da `Window Function` √© chamada de `linha atual`.
- As linhas que s√£o iguais a `linha atual` sobre a qual ocorrer a avalia√ß√£o da fun√ß√£o comp√µem a janela da linha atual. 

Por exemplo, essas duas consultas abaixo s√£o exemplos da usabilidade de uma fun√ß√£o de agrega√ß√£o que retorna apenas uma linha de resultado para o todo ou para grupos.
<br>
<br>

``` 
>> SELECT SUM(profit) AS total_profit
>> FROM sales;

+--------------+
| total_profit |
+--------------+
|         7535 |
+--------------+
``` 
<br>

```
>> SELECT country, 
          SUM(profit) AS country_profit

>> FROM sales
>> GROUP BY country
>> ORDER BY country;

+---------+----------------+
| country | country_profit |
+---------+----------------+
| Finland |           1610 |
| India   |           1350 |
| USA     |           4575 |
+---------+----------------+

```

Por outro lado as Window Functions n√£o recolhem grupos de linhas de consulta em uma √∫nica linha. Em vez disso elas produzem um resultado para cada linhas. Vamos usar a fun√ß√£o `SUM` novamente, s√≥ que dessa vez como uma Window Function.
<br>
<br>

```
>> SELECT year, country, product, profit,
          SUM(profit) OVER() AS total_profit,
          SUM(profit) OVER(PARTITION BY country) AS country_profit

>> FROM sales
>> ORDER BY country, year, product, profit;

+------+---------+------------+--------+--------------+----------------+
| year | country | product    | profit | total_profit | country_profit |
+------+---------+------------+--------+--------------+----------------+
| 2000 | Finland | Computer   |   1500 |         7535 |           1610 |
| 2000 | Finland | Phone      |    100 |         7535 |           1610 |
| 2001 | Finland | Phone      |     10 |         7535 |           1610 |
| 2000 | India   | Calculator |     75 |         7535 |           1350 |
| 2000 | India   | Calculator |     75 |         7535 |           1350 |
| 2000 | India   | Computer   |   1200 |         7535 |           1350 |
| 2000 | USA     | Calculator |     75 |         7535 |           4575 |
| 2000 | USA     | Computer   |   1500 |         7535 |           4575 |
| 2001 | USA     | Calculator |     50 |         7535 |           4575 |
| 2001 | USA     | Computer   |   1200 |         7535 |           4575 |
| 2001 | USA     | Computer   |   1500 |         7535 |           4575 |
| 2001 | USA     | TV         |    100 |         7535 |           4575 |
| 2001 | USA     | TV         |    150 |         7535 |           4575 |
+------+---------+------------+--------+--------------+----------------+
```

Cada Window Function na consulta deve ser representada pela cl√°usula `OVER` que espec√≠fica como partionar as linhas da consulta em grupos (janelas) para processamento pela Window Function.

- A primeira cl√°usula `OVER` est√° vazia, o que trata todo o conjunto de linhas da consulta como √∫nica parti√ß√£o. A fun√ß√£o de janela, portanto, produz uma soma global, mas o faz para cada linha.

- A segunda cl√°usula `OVER` particiona linhas por pa√≠s utilizando o comando `PARTITION BY`, produzindo uma soma por parti√ß√£o (por pa√≠s). A fun√ß√£o produz essa soma para cada linha de parti√ß√£o.

As fun√ß√µes de janela s√£o permitidas apenas na lista de sele√ß√£o do `SELECT` e na cl√°usula `ORDER BY`. As linhas de resultado da consulta s√£o determinadas a partir da cl√°usula `FROM`, depois de `WHERE`, `GROUP BY` e o processamento `HAVING`, e a execu√ß√£o do janelamento ocorre antes de `ORDER BY`, `LIMIT` e `SELECT DISTINCT`.

A cl√°usula `OVER` √© permitida para muitas fun√ß√µes de agrega√ß√£o, que, portanto, podem ser usadas como fun√ß√µes de janela ou n√£o janela, dependendo se a cl√°usula `OVER` est√° presente ou ausente:

```
AVG()
BIT_AND()
BIT_OR()
BIT_XOR()
COUNT()
JSON_ARRAYAGG()
JSON_OBJECTAGG()
MAX()
MIN()
STDDEV_POP(), STDDEV(), STD()
STDDEV_SAMP()
SUM()
VAR_POP(), VARIANCE()
VAR_SAMP()
```

O MySQL tamb√©m suporta fun√ß√µes n√£o agregadas que s√£o usadas apenas como fun√ß√µes de janela. Para estas, a cl√°usula `OVER` √© obrigat√≥ria:

```
CUME_DIST()
DENSE_RANK()
FIRST_VALUE()
LAG()
LAST_VALUE()
LEAD()
NTH_VALUE()
NTILE()
PERCENT_RANK()
RANK()
ROW_NUMBER()
```

Como dito antes a cl√°usula `OVER` √© obrigat√≥ria para poder usar uma Window Function ou uma fun√ß√£o de agrega√ß√£o como uma uma Window Function, pois √© ela que partiociona a coluna e tamb√©m ordena antes de particionar. A cl√°usula `OVER` recebe outras duas cl√°usulas como par√¢metro:

- A cl√°usula `PARTITION BY` que recebe uma coluna e com base nessa coluna faz a parti√ß√£o (opcional). Quando n√£o colocada todas as linhas ser√£o consideradas uma parti√ß√£o s√≥.

- A cl√°usula `ORDER BY` que recebe uma coluna e com base nessa coluna ordena as linhas dentro de cada parti√ß√£o. Quando n√£o colocada as linhas n√£o ser√£o organizadas.

<br>

### üåæ Row_number

Retorna um numero para a cada linha dentro de uma parti√ß√£o, ou seja, enumera todas as linhas de uma parti√ß√£o come√ßando pelo numero 1. A sintaxe √©:

In [ ]:
ROW_NUMBER() OVER( PARTITION BY [coluna], ORDER BY [coluna] )

### üåæ Lag e Lead

A fun√ß√£o `LAG` retorna o valor da N¬∞ linha que est√° atr√°s da linha atual para cada linha dentro de uma parti√ß√£o. Enquanto a fun√ß√£o `LEAD` faz o contr√°rio, ou seja, retorna o valor da N¬∞ linha que est√° a frente da linha atual para cada linha de uma parti√ß√£o. As duas fun√ß√µes possuem a mesma sintaxe e recebem os mesmo argumentos:

- O primeiro argumento √© a coluna na qual ser√° aplicada a Window Function.
- O segundo argumento √© a quantidade de linha que deve ser puladas apartir da linha atual.
- O terceiro argumento recebe um valor que ser√° retornado quando a fun√ß√£o n√£o encontrar uma linha com valor para ser retornado.

A sua sintaxe √©:

```
LAG( coluna, n_linhas, valor_de_retorno ) OVER( PARTITION BY [coluna], ORDER BY [coluna] )

LEAD( coluna, n_linhas, valor_de_retorno ) OVER( PARTITION BY [coluna], ORDER BY [coluna] )
```