# 💠 Introdução

Os comandos DML (Data Manipulation Language) são utilizados para manipular dados em uma base de dados. Eles incluem: 

- INSERT
- UPDATE
- DELETE
- TRUNCATE
- SELECT
- outros

Esses comandos permitem ao usuário recuperar, adicionar, atualizar e excluir dados em uma tabela específica. Eles são utilizados para gerenciar os dados dentro das tabelas e não modificam a estrutura da tabela ou banco de dados.

# 💠 Insert into

O **INSERT INTO** é um comando utilizado para inserir novos dados em uma tabela existente. Ele é composto por dois elementos: a palavra-chave **INSERT INTO** seguida do nome da tabela onde os dados serão inseridos e, entre parênteses, a lista de colunas nas quais os dados serão inseridos.

In [ ]:
INSERT INTO pessoas (idpessoa, nome, data_nascimento, sexo)  # Aqui está um exemplo do que o texto acima explicou

Esse código está incompleto e por isso não funcionaria se você tentasse executar ele. Abaixo se encontram as cláusulas que completam esse código, fazendo assim, com que ele seja executável.

## ✴️ Values

A cláusula **VALUES** serve para indicar ao comando **INSERT INTO** quais valores devem ser adicionados nas colunas da tabela.

In [ ]:
INSERT INTO pessoas (idpessoa, nome, data_nasscimento, sexo)  # Iserir na tabela pessoas e nas respectivas colunas
VALUES (1, 'Natalia', '2004-01-10', 'F');                     # O conjunto valores a seguir

 ---

Também podemos inserir valores sem precisar especificar as colunas, contudo, os valores devem ser inseridos na mesma ordem que as colunas estão na tabela.

In [ ]:
INSERT INTO pessoas                          # Iserir na tabela pessoas
VALUES (1, 'Natalia', '2004-01-10', 'F');    # O conjunto de valores a seguir

---

Existe também a possibilidade de inserirmos um registro (linha) na tabela, mas sem preencher todas as colunas. Para isso é obrigatorio que as colunas que serão preenchidas sejam especificadas.

In [ ]:
INSERT INTO pessoas (nome, sexo)  # Inserir na tabelas pessoas e nas respectivas colunas
VALUES ('Natalia', 'F');          # O conjunto de valores a seguir
                                  # Dessa forma, as outras colunas serão preenchidas com valores nulos.
                                  # Se essas colunas não puderem receber valores nulos o comando retorna um erro

---

Seguindo as regras que aprendemos acima, vamos inserir mais de uma registro (linha) na tabela. O que muda nessa sintaxe é que agora devemos separa cada registro por virgula.

In [ ]:
INSERT INTO 
    pessoas (idpessoa, nome, data_nasscimento, sexo)   # Inserir na tabela pessoas 
VALUES                                                 # Os conjuntos de valores a seguir
    (1, 'Natalia', '2004-01-10', 'F'),
    (2, 'Huan', '2004-07-13', 'M'),
    (3, 'Ana', '2026-01-13', 'F');

# 💠 Update

O comando `UPDATE` é utilizado junto com as cláusulas `SET` e `WHERE` para atualizar o(s) valor(es) de um registro da tabela.

- O comando `UPDATE` indica que algo será atualizado, no caso uma tabela.
- A clásula `SET` serve para informar em qual(is) coluna(s) o(s) valor(es) que será(m) atualizado(s) se encontra(m) e qual será o valor novo.
- A clásula `WHERE` indica, com base em uma coluna da tabela, qual linha será atualizada. Dependendo da coluna utilizada como referência uma ou mais linhas podem ser atualizadas.

In [ ]:
UPDATE pessoas        # A tabela pessoas será atualizada 
SET nome = 'Huan'     # O valor que será atualizado se encontra na coluna 'nome' e seu novo valor será 'Huan'
WHERE idpessoa = 10;  # A linha onde esse valor se encontra possui na coluna idpessoa o valor 10

Assim, esse código está buscando na tabela **pessoas** a linha onde a coluna **idcurso** é igual a **10** e atualizando o valor que se encontra na coluna **nome** para **Huan**. É importante lembrar que, se houver mais de uma linha que atenda a condição especificada, todas essas linhas serão atualizadas.

---

É possivel alterar dois ou mais valores da tabela que se encontram em colunas diferentes. Para isso basta informar á cláusula `SET` quais são as colunas e quais são os valores novos.

In [ ]:
UPDATE pessoas
SET nome = 'Huan', idade = 19
WHERE idpessoa = '10';

Esse código segue o mesmo raciocinio do codigo anterior, no entanto, perceba que para atualizar mais de 2 valores ao mesmo tempo é necesário especificar o nome da coluna onde cada valor se encontra e o valor novo para cada campo. E devemos separar os campos pela virgula. Como a coluna idpessoa geralmente possui valores unicos só um registro terá seus campos autalizados.

## ✴️ Limit

A cláusula `LIMIT` serve para limitar o número de linhas que serão afetadas pelo comando `UPDATE`. Esse comando se faz muito necessário quando queremos atualizar mais de um registro na tebela com segurança.

In [ ]:
UPDATE pessoas       # Atualizar a tabela pessoas
SET titulo = 'velho' # Os valores que serão atualizados se encontram na coluna 'titulo' e novo valor será 'velho'
WHERE idade > 60     # As linhas onde esses valores se encontram possui na coluna idade o valor > 60
LIMIT 100;           # De todos os valores que se encontram nas posições descritas acima, atualize somente 100

O comando para alterar mais de um valor segue a mesma lógica, no entanto, quando fazemos uma operação de grande escala existe a possibilidade de outras linhas, além da que nós especificamos, sejam alteradas e isso não é bom. Para contornar esse problema nós podemos utilizar o comando `LIMIT`. O comando `LIMIT` geralmente é usado em conjunto com a cláusula `SELECT` para limitar o número de linhas retornadas por uma consulta. No entanto, ele também pode ser usado com o comando `UPDATE` para limitar o número de registros que serão atualizados.

# 💠 Delete

O comando `DELETE` é utilizado junto com a cláusula `FROM` para deletar registros de uma tabela. O `DELETE` apaga e o `FROM` indica de qual tabela.

In [ ]:
DELETE FROM pessoas  # Delete da tabela pessoas

Esse comando está incompleto, ele ainda precisa da cláusula `WHERE` para funcionar.

## ✴️ Where

a cláusula `WHERE` indica em qual(is) linha(s) o(s) resgistro(s) a ser(em) deletado(s) se encontra(m).

In [ ]:
DELETE FROM pessoas  # Deletar da tabela pessoas
WHERE idpessoa = 1;  # O registro que possui o 'idpessoa = 1'

---

Deletando mais de um registro. Para isso é necessário informar ao `WHERE` uma coluna que não tenha valores unicos e nem seja `PRIMARY KEY`.

In [ ]:
DELETE FROM pessoas  # Deletar da tabela pessoas
WHERE sexo = 'M';    # O registro que possui na coluna sexo o valor 'M'

---

Também podemo usar a cláusula **LIMIT**, para especificar quantas linhas devem ser excluidas.

In [ ]:
DELETE FROM pessoas  # Deletar da tabela pessoas
WHERE sexo = 'M'     # O registro que possui na coluna sexo o valor 'M'
LIMIT 100;           # Deletar somente 100 registros

# 💠 Truncate

O comando `TRUNCATE` serve para excluir todas as linhas da tabela.

In [ ]:
TRUNCATE pessoas;

Tome cuidado ao usar esse comando.

# 💠 Select

O `SELECT` é um comando SQL que é usado para selecionar dados de uma tabela ou várias tabelas. Ele é geralmente usado para selecionar colunas específicas de uma tabela, filtrar linhas com base em condições específicas e ordenar o resultado.

In [ ]:
SELECT nome, idade  # Selecione as colunas 'nome' e 'idade'
FROM pessoas;       # da tabela pessoas

## ✴️ From

A cláusula `FROM` é utilizada juntamente com o comando `SELECT` para informar de qual tabela as colunas serão selecionadas.

## ✴️ *

O `*` é um caractere curinga, ou operador curinga, que é usado em consultas SQL para selecionar todas as colunas de uma tabela. Ele é usado como um atalho para selecionar todas as colunas de uma tabela ao invés de digitar o nome de cada coluna individualmente.

In [ ]:
SELECT *        # Selecione todas as colunas
FROM pessoas;   # da tabela pessoas

## ✴️ Where

O `WHERE` é uma cláusula utilizada com o comando `SELECT` para especificar quais registros (***linhas***) devem ser selecionados. Ele é usado para filtrar os resultados de uma consulta, de forma que somente os registros que atendem a determinadas condições são retornados.

In [ ]:
SELECT *          # Selecione todas as colunas 
FROM pessoas      # da tabela pessoas
WHERE idade < 20; # Somente os registros que possuirem na coluna/campo idade o valor menor que 20

## ✴️ Operadores

### 🌾 =

O operador de igualdade é usado para comparar se o valor de uma coluna ou expressão é igual a um determinado valor. Ele é representado pelo símbolo `=`. Quando utilizado na cláusula `WHERE` de um comando `SELECT`, ele permite selecionar somente as linhas que atendem a uma determinada condição.

In [ ]:
SELECT *          # Selecione dodas as colunas 
FROM pessoas      # da tabela pessoas 
WHERE idade = 10; # Somente os resgistros que possuem, no campo idade, o valor iagual a 10

### 🌾 < e >

O operador `>` (maior que) compara se o valor de uma coluna ou expressão é maior que um determinado valor. Já o operador `<` (menor que) compara se o valor de uma coluna ou expressão é menor que um determinado valor.

In [ ]:
SELECT *          # Selecione dodas as colunas 
FROM pessoas      # da tabela pessoas 
WHERE idade > 10; # Somente os resgistros que possuem, no campo idade, o valor maior que 10

# Ou

SELECT *          # Selecione dodas as colunas 
FROM pessoas      # da tabela pessoas 
WHERE idade < 10; # Somente os resgistros que possuem, no campo idade, o valor menor que 10

### 🌾 <= e >=

O operador `>=` (maior ou igual) compara se o valor de uma coluna ou expressão é maior ou igual a um determinado valor. O operador `<=` (menor ou igual) compara se o valor de uma coluna ou expressão é menor ou igual a um determinado valor.

In [ ]:
SELECT *           # Selecione dodas as colunas 
FROM pessoas       # da tabela pessoas 
WHERE idade >= 10; # Somente os resgistros que possuem, no campo idade, o valor maior ou igual a 10

# Ou

SELECT *           # Selecione dodas as colunas 
FROM pessoas       # da tabela pessoas 
WHERE idade <= 10; # Somente os resgistros que possuem, no campo idade, o valor menor ou igual a 10

### 🌾 !=

O operador `!=` (diferente) compara se o valor de uma coluna ou expressão é diferente de um determinado valor.

In [ ]:
SELECT *           # Selecione dodas as colunas 
FROM pessoas       # da tabela pessoas 
WHERE idade != 10; # Somente os resgistros que possuem, no campo idade, o valor diferente de 10

### 🌾 Not

O operador `NOT` nega uma condição. Ou seja, ele retorna o contrário do que uma condição pede.

In [ ]:
SELECT *               # Selecione dodas as colunas 
FROM pessoas           # da tabela pessoas 
WHERE NOT idade > 10;  # Somente os resgistros que não possuem, no campo idade, um valor maior que 10

### 🌾 And

O operador `AND` é usado para combinar expressões lógicas e retornar somente resultados que atendam a ambas as condições. Ele é utilizado no comando SQL junto com a cláusula `WHERE`.

In [ ]:
SELECT *               # Selecione dodas as colunas 
FROM pessoas           # da tabela pessoas 
WHERE 
    idade <= 30        # Somente os resgistros que possuem, no campo idade, um valor que menor ou igual a 30
    AND                # e
    sexo = 'M';        # que possuem, no campo sexo, o valor igual a 'M'

### 🌾 Or

O operador `OR` é similar ao operador `AND`, mas em vez de retornar somente os resultados que atendem a ambas as condições, ele retorna os resultados que atendem a pelo menos uma das condições. Ele é utilizado no comando SQL junto com a cláusula `WHERE`.

In [ ]:
SELECT *               # Selecione dodas as colunas 
FROM pessoas           # da tabela pessoas 
WHERE 
    idade <= 30        # Somente os resgistros que possuem, no campo idade, um valor que menor ou igual a 30
    AND                # ou
    sexo = 'M';        # que possuem, no campo sexo, o valor igual a 'M'

### 🌾 Between ... And...

O operador `BETWEEN ... AND ...` é usado para selecionar valores dentro de um intervalo específico. Ele é composto por dois valores, o valor inicial e o valor final, separados pelo operador AND.

In [ ]:
SELECT *                       # Selecione dodas as colunas 
FROM pessoas                   # da tabela pessoas 
WHERE idade BETWEEN 10 AND 20; # Somente os resgistros que possuem, no campo idade, um valor que está entre 10 e 20

---

Usando o `NOT` com o `BETWENN AND`.

In [ ]:
SELECT *                           # Selecione dodas as colunas 
FROM pessoas                       # da tabela pessoas 
WHERE NOT idade BETWEEN 10 AND 20; # Somente os resgistros que não possuem, no campo idade, um valor que está 
                                   # entre 10 e 20

### 🌾 In

O operador `IN (...)` é usado para especificar uma lista de valores que se deseja selecionar. Enquanto o `BETWEEN ... AND ...` seleciona uma faixa de valores, o `IN` seleciona valores especificos.

In [ ]:
SELECT *                           # Selecione dodas as colunas 
FROM pessoas                       # da tabela pessoas 
WHERE idade IN (10, 50, 75);       # Somente os resgistros que possuem, no campo idade, um valor que é
                                   # igual a 10 ou 50 ou 75

### 🌾 Like

O operador `LIKE` é usado para pesquisar valores com base em um padrão específico. Ele usa caracteres curinga (como `%` e `_`) para representar qualquer caractere ou qualquer conjunto de caracteres. Por exemplo, você pode usar o operador `LIKE` para procurar por todos os registros na tabela que contenham uma string específica no campo nome, ou para procurar por todos os registros que começam com uma determinada string no campo profissão.

Veja um exemplo de como selecionar todos os registros que possuam a letra `a` no nome.

In [2]:
SELECT * FROM pessoas   # Selecione todas as colunas da tabela pessoas
WHERE name LIKE '%a%';  # Somente os registros que possuem a letra no nome

---

Agora vamos selecionar somente os registros que possuem uma profisão que começa com a letra `c`.

In [ ]:
SELECT * FROM pessoas       # Selecione todas as colunas da tabela pessoas
WHERE profissao LIKE 'c%';  # Somente os registros que possui uma profisão que começa com a letra c

# Para selecionar somente os registros que possui uma prossisão que termina com a letra c
# basta colocar a letra c após a porcentagem.

---

Agora vamos selecionar somente os registros que possuem uma profisão que começa com a letra `c` e termina com a letra `a`.

In [ ]:
SELECT * FROM pessoas        # Selecione todas as colunas da tabela pessoas
WHERE profissao LIKE 'c%a';  # Somente os registros que possui uma profisão que começa com a letra 'c' e termina com a letra 'a'

---

Enquanto o caractere curinga `%` serve para representar nenhum caractere, apenas 1 caractere ou um conjunto de caracteres ao mesmo tempo, o caractere curinga `_` serve para representar apenas 1 caractere. Por exemplo, se você quiser selecionar todas os registros que possuam na coluna `profissao` uma palavra com cinco letras e comece com `b`, você pode usar o seguinte código:

In [ ]:
SELECT * FROM tabela 
WHERE profissao LIKE 'b____';

### 🌾 All e Any

O operador `ALL` é usado em consultas SQL para comparar uma expressão com todos os valores retornados por uma subconsulta. A subconsulta deve retornar uma ou mais linhas de resultados para que o operador `ALL` seja útil. O operador `ALL` compara a expressão à esquerda com cada valor retornado pela subconsulta e retorna true se a condição for verdadeira para todos os valores da subconsulta. Se qualquer comparação falhar, a condição inteira será falsa e consequentemente o registro não será retornado.

Por exemplo, suponha que você queira saber qual cliente possui uma altura maior que a media de altura dos clientes de SP, PR e RJ. Para resolver esse problema você pode usar o `ALL`.

In [ ]:
SELECT * 

FROM clientes
WHERE altura > ALL (SELECT AVG(altura) FROM clientes GROUP BY estado);

 ---

Já o operador `ANY` (também conhecido como `SOME`) é usado para comparar um valor com uma lista de valores resultante de uma subconsulta. Ele retorna verdadeiro se o valor corresponder a qualquer um dos valores da lista.

Por exemplo, suponha que você queira saber quais dos seus clientes moram em qualquer um dos estados do norte.

In [ ]:
SELECT * 

FROM clientes
WHERE cliente_estado = ANY (SELECT DISTINCT cliente_estado FROM clientes WHERE regiao = 'norte');

## ✴️ Order by

`ORDER BY` é uma cláusula SQL que é usada para classificar os resultados de uma consulta `SELECT`. Ele é geralmente usado para ordenar os resultados em ordem crescente ou decrescente com base em uma ou mais colunas específicas. Por padrão ele ordena o resultado por ordem crescente.

In [ ]:
SELECT nome, sexo, peso, altura  # Selecionar as colunas 'nome', 'sexo', 'peso' e 'altura'
FROM pessoas                     # da tabela pessoas
ORDER BY nome;                   # ordene o resultado de forma crescente com base na coluna nome

---

Para ordenar o resultado da consulta por ordem decrescente é necessário adicionar ao script a palavra `DESC`, que significa decrescente.

In [ ]:
SELECT nome, sexo, peso, altura  # Selecionar as colunas 'nome', 'sexo', 'peso' e 'altura'
FROM pessoas                     # da tabela pessoas
ORDER BY nome DESC;              # ordene o resultado de forma decrescente com base na coluna nome

---

Também podemos ordenar o resultado de uma consulta utilizando mais de uma coluna. A lógica é, primeiro organizamos o resultado da consulta de forma crescente ou decrescente (`ASC` ou `DESC`) com base em uma coluna, por exemplo a coluna **nome**. Depois, todos os registros que possuem o mesmo valor na coluna **nome** serão organizados de forma crescente ou decrescente (`ASC` ou `DESC`) com base em uma outra coluna, por exemplo a coluna **altura**.

In [ ]:
SELECT *                        # Selecione todas as colunas
FROM pessoas                    # da tabela pessoas.
ORDER BY nome DESC, altura ASC; # Ordene o resultado da consulta de forma decrescente com base na coluna 'nome'
                                # Agora todos os registro que possuem o mesmo valor na coluna'nome' devem 
                                # ser organizados de forma crescente com base na coluna 'altura'

---

Outra possibilidade é utilizar a cláusula `ORDER BY` juntamente com a cláusula `WHERE`. Ou seja, podemos selecionar apenas registros que atendem a uma condição e ordenar esse registros.

In [ ]:
SELECT *                   # Selecione todas as colunas
FROM pessoas               # da tabela pessoas
WHERE idade > 20           # Somente os registros que possuirem na coluna idade o valor maior que 20
ORDER BY nome DESC;        # Ordene o resultado da consulta de forma decrescente com base na coluna 'nome'

# Ou

SELECT nome, altura, idade  # Seleciona as colunas 'nome', 'altura' e 'idade'
FROM pesssoas               # da  tabela pessos
WHERE altura < 1.75         # Somente os registros que possuirem na coluna altura o valor menor que 1.75
ORDER BY nome, idade ASC;   # Agora todos os registro que possuem o mesmo valor na coluna'nome' devem 
                            # ser organizados de forma crescente com base na coluna 'idade'

## ✴️ Limit

A cláusula `LIMIT` é usada para limitar o número de linhas retornadas por um comando `SELECT`. Ela é comumente usada para paginamento de resultados, para evitar carregar uma grande quantidade de dados na memória ou para retornar apenas um conjunto específico de resultados.

In [ ]:
SELECT nome, altura, idade  # Seleciona as colunas 'nome', 'altura' e 'idade'
FROM pesssoas               # da  tabela pessos
WHERE altura <= 1.75        # Somente os registros que possuirem na coluna altura o valor menor ou igual a 1.75
ORDER BY nome, idade ASC    # Agora todos os registro que possuem o mesmo valor na coluna'nome' devem 
                            # ser organizados de forma crescente com base na coluna 'idade'
LIMIT 10;                   # De todos os registros, retorne somente 10

## ✴️ Distintc

A cláusula `DISTINCT` é usada para remover de um resultado de consulta os registros que possuam o mesmo valor em uma determinada coluna. Por exemplo, suponha que você tenha uma tabela que guarda o nome, a idade, a profissão e o país de origem de várias pessoas. E algumas pessoas moram no mesmo país ou possuem a mesma idade ou exercem a mesma profissão. E o seu objetivo é saber quais são os países contidos na sua tabela. Para fazer isso podemos usar o comando `SELECT` junto com a cláusula `DISTINCT` para que o resultado da nossa consulta não possua valores duplicados.

In [ ]:
SELECT DISTINCT pais FROM pessoas; # Selecione os registros da tabela pessoas com base na coluna pais, sem que esses registros
                                   # possuam na coluna pais valores iguais

## ✴️ Funções de agregação

### 🌾 Count

`COUNT` é uma função que retorna o número de linhas em uma tabela ou o número de linhas que correspondem a uma condição em uma consulta. É amplamente utilizado em consultas SQL para obter o número de ocorrências de uma coluna específica. Caso a coluna possua valores nulos, eles não serão contabilizados.

Descobrindo o numero de registros retornados por uma consulta.

In [ ]:
SELECT COUNT(*) FROM pessoas 
WHERE idade > 80;

---

O `COUNT` também serve para descobrindo o numero de valores, que não são nulos, de uma coluna.

In [ ]:
SELECT COUNT(nome) FROM pessoas;  # Retorna quantos numeros

### 🌾 Max e Min

A função `MAX` serve para descobrir qual é o maior valor de uma coluna. Enquanto a função `MIN` faz o cintrário.

In [ ]:
SELECT MAX(idade) FROM pessoas;  # Selecione da coluna idade o maior valor.

SELECT MIN(idade) FROM pessoas;  # Selecione da coluna idade o menor valor.

### 🌾 Sum

O `SUM` é uma função que serve para somar todos os valores de uma determinada coluna.

In [ ]:
SELECT SUM(peso) FROM pessoas; # Soma o peso de todas as pessoas juntas

### 🌾 Avg

`AVG` é uma função utilizada para calcular a média dos valores de uma coluna.

In [ ]:
SELECT AVG(idade) FROM pessoas; # Calcula a média de idade das pessoas registradas na tabela

## ✴️ Group by

O comando `GROUP BY` é utilizado para agrupar os dados de uma tabela com base nos valores de uma ou mais colunas. Basicamente, ele agrupa as linhas da tabela que possuem valores iguais na(s) coluna(s) escolhida(s), e então permite que você faça operações agregadas nos grupos, como contar quantas linhas há em cada grupo, somar os valores de uma coluna numérica, calcular a média, entre outros.

Por exemplo, suponha que temos uma tabela de vendas com as seguintes colunas: ID, Data, Produto, Preço e Quantidade. Se quisermos saber o total vendido de cada produto, podemos utilizar o comando `GROUP BY` na coluna "Produto" e em seguida aplicar a função de agregação SUM na coluna "Preço".

O código ficaria assim:

In [ ]:
SELECT Produto, SUM(Preco)
FROM vendas
GROUP BY Produto;

## ✴️ Having

O `HAVING` é uma cláusula que é usada em conjunto com a cláusula `GROUP BY` para filtrar os resultados de uma consulta de acordo com alguma condição que deve ser satisfeita pelas funções de agregação (como SUM, COUNT, AVG, MAX, MIN) aplicadas aos grupos formados pelo `GROUP BY`.

A cláusula `HAVING` é usada para filtrar grupos, enquanto a cláusula `WHERE` é usada para filtrar linhas individuais. Isso significa que as condições especificadas em uma cláusula `HAVING` são aplicadas aos grupos como um todo, e não a linhas individuais.

Por exemplo, se tivermos uma tabela de vendas com informações sobre o valor total de vendas por mês e por vendedor, poderíamos usar a cláusula `HAVING` para filtrar os vendedores que tiveram um total de vendas superior a um determinado valor:

In [ ]:
SELECT vendedor, SUM(valor_vendas) as total_vendas
FROM vendas
GROUP BY vendedor
HAVING total_vendas > 10000;

É importante lembrar que a cláusula `HAVING` só pode ser usada em conjunto com a cláusula `GROUP BY`, e que as condições especificadas em uma cláusula `HAVING` devem se referir a funções de agregação e não a colunas individuais.

## ✴️ Inner join

O `INNER JOIN` é um comando utilizado em SQL para unir duas ou mais tabelas relacionadas entre si, usando uma condição de junção especificada na cláusula `ON`. A principal função do `INNER JOIN` é combinar as linhas das tabelas de tal forma que apenas as linhas que possuem valores correspondentes nas duas tabelas sejam retornadas como resultado. Ou seja, ele só retorna os registros que possuem valores comuns nas colunas que estão sendo relacionadas.

Por exemplo, suponha que temos duas tabelas: "clientes" e "pedidos". Se quisermos saber quais clientes têm pedidos, podemos usar `INNER JOIN` para combinar as duas tabelas, usando a coluna "id_cliente" em ambas como a condição de junção. Isso retornará apenas as linhas que contêm valores correspondentes nas duas tabelas.

In [ ]:
SELECT  t1.nome_cliente,
        t2.id_pedido

FROM clientes AS t1
INNER JOIN pedidos AS t2
ON t1.id_cliente = t2.id_cliente;

## ✴️ Left join

O `LEFT JOIN` combina as linhas de duas tabelas com base em uma condição especificada, retornando todas as linhas da tabela à esquerda (tabela base) e as correspondentes da tabela à direita, quando houver. Se não houver correspondência, os valores da tabela à direita serão nulos.

Por exemplo, suponha que você tenha duas tabelas, "pessoas" e "cursos", onde a tabela "pessoas" possui uma coluna "id_curso" que faz referência à coluna "idcurso" da tabela "cursos". Você pode usar o `LEFT JOIN` para obter uma lista de todos os gafanhotos e o curso correspondente (se houver) que eles estão fazendo.

In [ ]:
SELECT  t1.nome AS nome_pessoa, 
        t2.nome AS nome_curso

FROM pessoas AS t1
LEFT JOIN cursos AS t2 
ON t1.id_curso = t2.idcurso;

Neste exemplo, a tabela "pessoas" é a tabela à esquerda e a tabela "cursos" é a tabela à direita. A condição de junção é definida pelo `ON` t1.id_curso = t2.idcurso. O resultado da consulta será uma lista de todos os gafanhotos com o nome do curso correspondente, ou `NULL` se o gafanhoto não estiver fazendo nenhum curso.

## ✴️ Right join

O `RIGHT JOIN` é um comando de junção em SQL, assim como o `INNER JOIN` e o `LEFT JOIN`. Ele combina as linhas de duas tabelas com base em uma condição especificada e retorna todas as linhas da tabela da direita (a segunda tabela mencionada na cláusula `JOIN`) e as linhas correspondentes da tabela da esquerda (a primeira tabela mencionada na cláusula `JOIN`), ou `NULL` se não houver correspondência.

Em outras palavras, o `RIGHT JOIN` retorna todas as linhas da tabela da direita e as linhas correspondentes da tabela da esquerda. Se não houver correspondência na tabela da esquerda, ele preenche com `NULL`.

In [ ]:
SELECT  t1.nome AS nome_pessoa, 
        t2.nome AS nome_curso

FROM pessoas AS t1
RIGHT JOIN cursos AS t2 
ON t1.id_curso = t2.idcurso;

Nesse exemplo, a consulta retorna todas as linhas da t2 e as linhas correspondentes da t1 com base na condição de igualdade (t1.id_curso = t2.idcurso). Se não houver correspondência na t1, as colunas correspondentes retornam `NUL`.

## ✴️ Case

O comando `CASE WHEN` é uma estrutura condicional do SQL que permite que você execute uma ação com base em uma ou mais condições. É semelhante a um bloco de "if-else" em outras linguagens de programação. A expressão `CASE` tem duas formas: `CASE simples` e `CASE pesquisado`.

Uma expressão `CASE simples` possui a seguinte sintaxe:

In [ ]:
CASE value
    WHEN value1 THEN result1
    WHEN value2 THEN result2
    ...
    ELSE result_else
END

A expressão `CASE simples` é utilizada para comparar se o `value` é igual a `value1`, `value2`, `value3`, etc. Se o `value` for igual ao `value1` então `result1` será retornado, caso contrário o `value` será comparado com o `value2`. se `value` for igual ao `value2` então `result2` será retornado. E assim por diante. Caso o `value` não seje igual a nehum então `result_else` é retornado.

 ---

Uma expressão `CASE pesquisada` possui a seguinte sintaxe:

In [ ]:
CASE
    WHEN condição1 THEN resultado1
    WHEN condição2 THEN resultado2
    ...
    ELSE resultado_final
END

Aqui está uma explicação de cada parte do comando:

`CASE`: inicia a estrutura condicional.<br>
`WHEN`: define uma condição. Se essa condição for verdadeira, a ação correspondente será executada.<br>
`THEN`: especifica a ação a ser executada se a condição for verdadeira.<br>
`ELSE`: define a ação a ser executada se nenhuma das condições anteriores for verdadeira.<br>
`END`: finaliza a estrutura condicional.<br>

## ✴️ With

O comando `WITH`, também conhecido como "common table expression" (CTE), é uma cláusula do SQL que permite definir uma consulta nomeada que pode ser referenciada posteriormente na mesma consulta principal ou em outras consultas.

Essa cláusula é útil quando precisamos criar uma consulta que envolve várias subconsultas, sendo que uma ou mais dessas subconsultas podem ser utilizadas em várias partes da consulta principal.

Com o `WITH`, podemos definir uma consulta nomeada, atribuindo-lhe um alias e, em seguida, referenciá-la como uma tabela em outras partes da consulta. Isso torna a consulta mais legível e fácil de entender, além de reduzir a complexidade do código SQL.

Além disso, o `WITH` também permite aninhar subconsultas, criando uma estrutura hierárquica de consultas que pode ser mais fácil de entender do que consultas complexas com muitos JOINs.

Aqui está um exemplo basico da sintaxe do `WITH`:

In [ ]:
WITH nome_da_subconsulta AS (
    SELECT coluna_1, coluna_2, ...
    FROM tabela
    WHERE condições
)


SELECT *
FROM nome_da_subconsulta
WHERE condições_opcionais;

---

Aqui vai um exemplo de utilização do `WITH` em uma consulta:

Suponha que temos duas tabelas no banco de dados: `employees` e `departments`. A tabela `employees` contém informações sobre os funcionários, enquanto a tabela `departments` contém informações sobre os departamentos da empresa. Vamos criar uma consulta que retorna o número de funcionários em cada departamento, utilizando o WITH para criar uma subconsulta que calcula o número de funcionários em cada departamento:

In [ ]:
WITH employee_counts AS (
    SELECT department_id, COUNT(*) AS num_employees
    FROM employees
    GROUP BY department_id
)


SELECT  departments.department_name, 
        employee_counts.num_employees

FROM departments

LEFT JOIN employee_counts 
ON departments.department_id = employee_counts.department_id;

Nesse exemplo, a subconsulta criada pelo `WITH` é nomeada como `employee_counts` e retorna o número de funcionários em cada departamento. Em seguida, a consulta principal se junta a essa subconsulta usando um `LEFT JOIN` para garantir que todos os departamentos sejam incluídos, mesmo que não tenham nenhum funcionário associado a eles. A consulta final retorna o nome do departamento e o número de funcionários associados a ele.

## ✴️ Union

O comando `UNION` e `UNION ALL` são utilizados para combinar o resultado de duas ou mais consutas `SELECT` em uma única tabela virtual. A principal diferênça entre eles é que o `UNION` revome duplicatas, enquanto o `UNION ALL` não. 

Por exemplo, suponha que temos duas tabelas chamadas `tabela1` e `tabela2` com a mesma estrutura de colunas, e queremos combinar os resultados de duas consultas SELECT que retorna dados deiferentes de cada tabela. Podemos fazer isso usando o `UNION`.

In [ ]:
SELECT coluna1, coluna2 
FROM tabela1

UNION

SELECT coluna1, coluna2 
FROM tabela2;

O comando `UNION` removerá quaisquer registros duplicados nos resultados combinados, resultando em uma tabela virtual única que contém os registros únicos das duas tabelas. Se desejarmos manter duplicatas, usamos o comando `UNION ALL`:

In [ ]:
SELECT coluna1, coluna2 
FROM tabela1

UNION ALL

SELECT coluna1, coluna2 
FROM tabela2;

No exemplo acima, o `UNION ALL` incluirá todos os registros das duas tabelas, independete de haverem registros duplicados nos resultados combinados.

É importante lembrar que as duas consultas `SELECT` devem ter o mesmo número de colunas e o mesmo tipo de dados para cada coluna correspondente para que o `UNION` ou o `UNION ALL` possa ser usado. Caso contrário, uma mensagem de erro será gerada.

Por fim, vale destacar que o uso do `UNION` e `UNION ALL` deve ser feito com cuidado, pois pode afetar negativamente o desempenho da consulta se a quantidade de dados for muito grande.

## ✴️ Funções para strings

## ✴️ Funções para numeros

### 🌾 Round

### 🌾 Rand

### 🌾 Floor

## ✴️ Funções para datas

### 🌾 Datediff

## ✴️ Funções avançadas

### 🌾 Coalesce

## ✴️ Window Functions

As Window Functions (Funções de janela) executam uma operação de agregação de linhas de uma consulta. No entanto, enquanto uma função de agregação agrupa linhas de consulta em uma única linha de resultado uma função de janela produz um resultado para cada linha de consulta:

- A linha para a qual ocorre a avaliação da `Window Function` é chamada de `linha atual`.
- As linhas que são iguais a `linha atual` sobre a qual ocorrer a avaliação da função compõem a janela da linha atual. 

Por exemplo, essas duas consultas abaixo são exemplos da usabilidade de uma função de agregação que retorna apenas uma linha de resultado para o todo ou para grupos.
<br>
<br>

``` 
>> SELECT SUM(profit) AS total_profit
>> FROM sales;

+--------------+
| total_profit |
+--------------+
|         7535 |
+--------------+
``` 
<br>

```
>> SELECT country, 
          SUM(profit) AS country_profit

>> FROM sales
>> GROUP BY country
>> ORDER BY country;

+---------+----------------+
| country | country_profit |
+---------+----------------+
| Finland |           1610 |
| India   |           1350 |
| USA     |           4575 |
+---------+----------------+

```

Por outro lado as Window Functions não recolhem grupos de linhas de consulta em uma única linha. Em vez disso elas produzem um resultado para cada linhas. Vamos usar a função `SUM` novamente, só que dessa vez como uma Window Function.
<br>
<br>

```
>> SELECT year, country, product, profit,
          SUM(profit) OVER() AS total_profit,
          SUM(profit) OVER(PARTITION BY country) AS country_profit

>> FROM sales
>> ORDER BY country, year, product, profit;

+------+---------+------------+--------+--------------+----------------+
| year | country | product    | profit | total_profit | country_profit |
+------+---------+------------+--------+--------------+----------------+
| 2000 | Finland | Computer   |   1500 |         7535 |           1610 |
| 2000 | Finland | Phone      |    100 |         7535 |           1610 |
| 2001 | Finland | Phone      |     10 |         7535 |           1610 |
| 2000 | India   | Calculator |     75 |         7535 |           1350 |
| 2000 | India   | Calculator |     75 |         7535 |           1350 |
| 2000 | India   | Computer   |   1200 |         7535 |           1350 |
| 2000 | USA     | Calculator |     75 |         7535 |           4575 |
| 2000 | USA     | Computer   |   1500 |         7535 |           4575 |
| 2001 | USA     | Calculator |     50 |         7535 |           4575 |
| 2001 | USA     | Computer   |   1200 |         7535 |           4575 |
| 2001 | USA     | Computer   |   1500 |         7535 |           4575 |
| 2001 | USA     | TV         |    100 |         7535 |           4575 |
| 2001 | USA     | TV         |    150 |         7535 |           4575 |
+------+---------+------------+--------+--------------+----------------+
```

Cada Window Function na consulta deve ser representada pela cláusula `OVER` que específica como partionar as linhas da consulta em grupos (janelas) para processamento pela Window Function.

- A primeira cláusula `OVER` está vazia, o que trata todo o conjunto de linhas da consulta como única partição. A função de janela, portanto, produz uma soma global, mas o faz para cada linha.

- A segunda cláusula `OVER` particiona linhas por país utilizando o comando `PARTITION BY`, produzindo uma soma por partição (por país). A função produz essa soma para cada linha de partição.

As funções de janela são permitidas apenas na lista de seleção do `SELECT` e na cláusula `ORDER BY`. As linhas de resultado da consulta são determinadas a partir da cláusula `FROM`, depois de `WHERE`, `GROUP BY` e o processamento `HAVING`, e a execução do janelamento ocorre antes de `ORDER BY`, `LIMIT` e `SELECT DISTINCT`.

A cláusula `OVER` é permitida para muitas funções de agregação, que, portanto, podem ser usadas como funções de janela ou não janela, dependendo se a cláusula `OVER` está presente ou ausente:

```
AVG()
BIT_AND()
BIT_OR()
BIT_XOR()
COUNT()
JSON_ARRAYAGG()
JSON_OBJECTAGG()
MAX()
MIN()
STDDEV_POP(), STDDEV(), STD()
STDDEV_SAMP()
SUM()
VAR_POP(), VARIANCE()
VAR_SAMP()
```

O MySQL também suporta funções não agregadas que são usadas apenas como funções de janela. Para estas, a cláusula `OVER` é obrigatória:

```
CUME_DIST()
DENSE_RANK()
FIRST_VALUE()
LAG()
LAST_VALUE()
LEAD()
NTH_VALUE()
NTILE()
PERCENT_RANK()
RANK()
ROW_NUMBER()
```

Como dito antes a cláusula `OVER` é obrigatória para poder usar uma Window Function ou uma função de agregação como uma uma Window Function, pois é ela que partiociona a coluna e também ordena antes de particionar. A cláusula `OVER` recebe outras duas cláusulas como parâmetro:

- A cláusula `PARTITION BY` que recebe uma coluna e com base nessa coluna faz a partição (opcional). Quando não colocada todas as linhas serão consideradas uma partição só.

- A cláusula `ORDER BY` que recebe uma coluna e com base nessa coluna ordena as linhas dentro de cada partição. Quando não colocada as linhas não serão organizadas.

<br>

### 🌾 Row_number

Retorna um numero para a cada linha dentro de uma partição, ou seja, enumera todas as linhas de uma partição começando pelo numero 1. A sintaxe é:

In [ ]:
ROW_NUMBER() OVER( PARTITION BY [coluna], ORDER BY [coluna] )

### 🌾 Lag e Lead

A função `LAG` retorna o valor da N° linha que está atrás da linha atual para cada linha dentro de uma partição. Enquanto a função `LEAD` faz o contrário, ou seja, retorna o valor da N° linha que está a frente da linha atual para cada linha de uma partição. As duas funções possuem a mesma sintaxe e recebem os mesmo argumentos:

- O primeiro argumento é a coluna na qual será aplicada a Window Function.
- O segundo argumento é a quantidade de linha que deve ser puladas apartir da linha atual.
- O terceiro argumento recebe um valor que será retornado quando a função não encontrar uma linha com valor para ser retornado.

A sua sintaxe é:

```
LAG( coluna, n_linhas, valor_de_retorno ) OVER( PARTITION BY [coluna], ORDER BY [coluna] )

LEAD( coluna, n_linhas, valor_de_retorno ) OVER( PARTITION BY [coluna], ORDER BY [coluna] )
```